@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* line 1, ../../app/assets/stylesheets/gmaps4rails.css */
.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc #cccccc #999999 #cccccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 600px;
}

/* line 12, ../../app/assets/stylesheets/gmaps4rails.css */
.gmaps4rails_map {
  width: 600px;
  height: 400px;
}

/* line 17, ../../app/assets/stylesheets/gmaps4rails.css */
.bing_map {
  position: absolute;
  top: 20;
  left: 10;
  width: 400px;
  height: 400px;
  border: #555555 2px solid;
}

/* line 5, ../../app/assets/stylesheets/api.scss */
body {
  float: left;
}

/* line 7, ../../app/assets/stylesheets/api.scss */
#court-info {
  float: left;
  font-family: "nta",Arial,sans-serif;
}
/* line 10, ../../app/assets/stylesheets/api.scss */
#court-info #address {
  width: 220px;
  float: left;
}
/* line 11, ../../app/assets/stylesheets/api.scss */
#court-info #address span {
  display: block;
}
/* line 17, ../../app/assets/stylesheets/api.scss */
#court-info #areas-of-law {
  width: 200px;
  float: left;
}
/* line 18, ../../app/assets/stylesheets/api.scss */
#court-info #areas-of-law span {
  display: block;
}
/* line 25, ../../app/assets/stylesheets/api.scss */
#court-info .map_container {
  float: left;
  width: 300px;
}
/* line 28, ../../app/assets/stylesheets/api.scss */
#court-info .map_container #map {
  width: 300px;
  height: 200px;
}

/* line 37, ../../app/assets/stylesheets/api.scss */
h4 {
  text-decoration: underline;
}
