<div class='well clearfix'>
  <h4>Rental arrears</h4>
  <p>Add all payment arrears to the table below or <a href="#">upload a csv file</a></p>

  <div>
   <label>Rent due on</label>
  </div>
  <p>
    Did the defendant(s) make any contributions this month?
    £<input type="text" />
  </p>
   <%= link_to_function "Add", "", :class => "btn btn-primary" %>
   <%= link_to_function "Cancel", "", :class => "btn btn-danger" %>
  
  <div>

  </div>
  <p>
  

  

</div>