<div class="modal-body">
  <div class="col-lg-8">
    <input type="text" value="<%= file_name %>" >
  </div>
  <div class="col-lg3">
    <div class="button">Browse</div>
  </div>
  <br>
  <div class="application-notice info-notice">
    <p>Format</p>  
    <p>File needs to be formated in a certain way. Rent due in one column, amount due in another columns and arrears in another column </p>
  </div>
</div>

<div class="modal-footer">
  <div class="button" data-dismiss="modal">Upload</div>
  <a href="#" data-dismiss="modal">Cancel</a>
</div>