<p>To start court action to repossess a property, follow the steps below:</p>
<ol>
  <li>
    <h4>Name people involved</h4>
    <p>Fill in your details and the name of your tenant or borrower.
      <a href='#'>More about defendants and co-claimants</a>
    </p>
  </li>
  <li>
    <h4>Give details of property</h4>
    <p>Include the address and why you want the property back.
      <a href='#'>More about claim details</a>
    </p>
  </li>
  <li>
    <h4>Check and confirm information</h4>
    <p>Check all the details and confirm they are correct.
      <a href='#'>More about making a statement of truth</a>
    </p>
  </li>
  <li>
    <h4>Pay court fee</h4>
    <p>Pay the &pound;100 court fee using a debit or credit card.
    </p>
  </li>
  <li>
    <h4>Confirmation and next steps</h4>
    <p>We'll confirm receipt of your claim and tell you what happens next.
      <a href='#'>More about what happens next</a>
    </p>
  </li>
</ul>

<%= form_tag(claims_path, method: "post") do %>
  <%= submit_tag("Start a new claim") %>
<% end %>