<div class='navbar'>
  <div class='navbar-inner'>
    <ul class="nav">
      <li><%= link_to_unless_current 'Personal Details', { action: 'personal_details' } %></li>
      <li><%= link_to_unless_current 'Claim Particulars', { action: 'particulars' } %></li>
      <li><a href='#'>Court Scheduling</a></li>
      <li><a href='#'>Statement of Truth</a></li>
      <li><a href='#'>Fees &amp; Payment</a></li>
      <li><a href='#'>Confirmation &amp; Next Steps</a></li>
    </ul>
  </div>
</div>