<%= render partial: 'claims/navigation' %>
<section id='fees'>

  <div class="page-header">
    <h1>5. Fees &amp; Payment</h1>
  </div>

  <p>You will now need to enter your card details in order to pay the &pound;100 fee to have the claim submitted.</p>

  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title clearfix">
        <span class='pull-left'>Your claim</span>
        <span class='pull-right'>Total fees: &pound;100</span>
      </h3>
    </div>
    <div><%= @claim.claimants.first.full_name %> vs <%= @claim.defendants.first.full_name %></div>
    <div><strong>Address for possession</strong></div>
    <div>
      <%= render partial: 'addresses/show', :locals => { address: @claim.address_for_possession } %>
    </div>
  </div>

</section>