<%= render partial: 'claims/navigation' %>

<div class="page-header">
  <h1>5. Fees &amp; Payment</h1>
</div>

<p>You will now need to enter your card details in order to pay the &pound;100 fee to have the claim submitted.</p>
