<h2>Recover Property: Make a possession claim online</h1>
<p>You can take court action to repossess a property if you are owed money for rent or mortgage, and the tenant or mortgage holder wont pay.</p>

<h3>Submit a new claim</h3>
<p>To submit a new claim, follow the steps below</p>
<ol>
  <li>
    <h4>Confirm people involved</h4>
    <p>The details of all the parties involved in the claim,
      any co-claimants and all defendants.
      <a href='#'>More about defendants and co-claimants</a>
    </p>
  </li>
  <li>
    <h4>Details of the claim</h4>
    <p>All the claim particulars including address for possession,
      grounds for possession, details of tenancy and the defendants.
      <a href='#'>More about claim details</a>
    </p>
  </li>
  <li>
    <h4>Statement of truth</h4>
    <p>Confirm that all details of case being brought are correct.
      <a href='#'>More about making a statement of truth</a>
    </p>
  </li>
  <li>
    <h4>Fee payment</h4>
    <p>When everything is correct and you are ready to pay the &pound;fee
    </p>
  </li>
  <li>
    <h4>Confirmation and next steps</h4>
    <p>Get confirmation of which court and when, what you will
      need to bring to court and what happens next.
      <a href='#'>More about what happens next</a>
    </p>
  </li>
</ul>

<%= form_tag(claims_create_path, method: "post") do %>
  <%= submit_tag("SUBMIT NEW CLAIM") %>
<% end %>

<div>
  <h4>Before you begin</h4>
  <p>If you are making your first possession claim online here are a few things you need to know and to think about. These help topics are a good place to start....</p>
</div>