<%= render partial: 'claims/navigation' %>

<div class="page-header">
  <h1>2. Claim Particulars</h1>
</div>

<p>Add all details you have about the claim and upload further information if required.</p>
<a href='#'>About adding claim particulars</a>




<div class='well clearfix'>
  <h4>Supporting documentation</h4>
  <div >
    <%= render partial: 'attachments/show', locals: {attachment: nil} %>
  </div>
</div>