<%= render partial: 'claims/navigation' %>

<div class="page-header">
  <h1>3. Court Scheduling</h1>
</div>

<p>Based on the postcode of the property you are claiming possession of, your hearing will take place in the following court or tribunal.</p>