%script#landlord-template(type='text/x-handlebars-template')
  .sub-panel(class='landlord-form' id='{{grouping}}')
    {{#if additional}}
    .row.divider
    {{/if}}
    .row
      %label(for='{{grouping}}-title')> Title
      %select.small(name='{{grouping}}-title' id='{{grouping}}-title')
        %option(value='') select
        %option(value='Mr') Mr
        %option(value='Mrs') Mrs
        %option(value='Miss') Miss
        %option(value='Ms') Ms
        %option(value='Dr') Dr
        %option(value='Other') Other
    .row.rel
      %label(for='{{grouping}}-fullname')> Full name
      %input(type='text' name='{{grouping}}-fullname' id='{{grouping}}-fullname')
    {{#unless additional}}
    .row.rel.street
      %label(for='{{grouping}}-address')> Street
      %textarea(name='{{grouping}}-address' id='{{grouping}}-address')
    .row.rel.town
      %label(for='{{grouping}}-town')> Town
      %input(type='text' name='{{grouping}}-town' id='{{grouping}}-town')
    .row.rel.postcode
      %label(for='{{grouping}}-postcode')> Postcode
      %input.has-button.smalltext(type='text' name='{{grouping}}-postcode' id='{{grouping}}-postcode')>
      %a.button.primary.js-find-address> Find UK address
    {{/unless}}
    {{#if additional}}
    %fieldset.rel.striped-choice
      %legend Address
      .options.js-landlord-address
        .row.js-same
          %input(type='radio' name='{{grouping}}-address' id='{{grouping}}-address-same')
          %label(for='{{grouping}}-address-same') Same as above
        .row.js-different
          %input(type='radio' name='{{grouping}}-address' id='{{grouping}}-address-different')
          %label(for='{{grouping}}-address-different') At a different address
    {{/if}}
    .row.rel
      %label(for='{{grouping}}-phone')> Phone
      %input(type='text' name='{{grouping}}-phone' id='{{grouping}}-phone')
    .row.rel
      %label(for='{{grouping}}-mobile')> Mobile
      %input(type='text' name='{{grouping}}-mobile' id='{{grouping}}-mobile')
    .row.rel
      %label(for='{{grouping}}-email')> Email
      %input(type='text' name='{{grouping}}-email' id='{{grouping}}-email')
    .row.rel.full
      %details
        %summary I would like to provide a DX number
        .row
          %label(for='{{grouping}}-dxnumber') DX number
          %input(type='text' name='{{grouping}}-dxnumber' id='{{grouping}}-dxnumber')
        .row.rel
          %label(for='{{grouping}}-dxexchange') DX exchange
          %input(type='text' name='{{grouping}}-dxexchange' id='{{grouping}}-dxexchange')
          