%script#tenant-template(type='text/x-handlebars-template')
  {{#if additional}}
  .row.divider
  {{/if}}
  .sub-panel(class='tenant-form' id='{{grouping}}')
    %h4 Tenant {{num}}
    .row
      %label(for='{{grouping}}-title') Title
      %select.small.title(name='{{grouping}}-title' id='{{grouping}}-title')
        %option(value='') select
        %option(value='Mr') Mr
        %option(value='Mrs') Mrs
        %option(value='Miss') Miss
        %option(value='Ms') Ms
        %option(value='Dr') Dr
        %option(value='Other') Other
    .row.rel
      %label(for='{{grouping}}-fullname') Full name
      %input(type='text' name='{{grouping}}-fullname' id='{{grouping}}-fullname' placeholder='e.g. John Smith')
    %fieldset.striped-choice.rel
      %legend Are they living in the property?
      .options.js-tenant-address
        .row.js-same
          %input(type='radio' name='{{grouping}}-inproperty' id='{{grouping}}-inproperty-yes')
          %label(for='{{grouping}}-inproperty-yes') Yes
        .row.js-different
          %input(type='radio' name='{{grouping}}-inproperty' id='{{grouping}}-inproperty-no')
          %label(for='{{grouping}}-inproperty-no') No
    .row.rel
      %label(for='{{grouping}}-phone') Phone
      %input(type='text' name='{{grouping}}-phone' id='{{grouping}}-phone')
    .row.rel
      %label(for='{{grouping}}-email') Email
      %input(type='text' name='{{grouping}}-email' id='{{grouping}}-email')
      