<div class='court-badge moj-panel clearfix'>
  <div class='court-address'>
    <h3>Lambeth County Court</h3>
    <span>Court House</span>
    <span>Cleaver Street</span>
    <span>Kennington Road</span>
    <span>London</span>
    <span>SE11 4DZ</span>
    <span class='dx'>DX 145020 Kennington 2</span>
    <a class='button' href='https://courttribunalfinder.service.gov.uk/courts/lambeth-county-court?from=se114dz' target='_blank'>View full court details</a>
  </div>
  <div class='court-map'>
    <%= image_tag "lambeth-court-map.jpg" %>
    <a href='http://goo.gl/maps/XF2zk' target='_blank'>View a larger version of the map</a>
  </div>
</div>