.attachment-panel{ :class => "is-attachment-" + attachment.id.to_s}
  = attachment.file_name
  = link_to "Remove", claim_attachment_path(id: attachment.id, type: type), :remote => true, :method => :delete, :class => "button-warning js-remove-attachment" 