<tr>
  <% file_name = f.object.file_name %>
  <td>
  	<%= f.hidden_field :file_name, :input_html => { :class=>"attachments-filename-hidden" }  %>
  	<a class="fake-link attachments-filename"><%= file_name %></a>
  </td>
  <td><%= button_to_remove_fields "Remove", f, :attachments %></td>
</tr>