<section id="attachments">
  <h3>Supporting documents</h3>

  <div class="panel-default">
    <p>
      Attach any documents that support your case, such as the tenancy agreement or the ‘notice to quit’. Type of files supported include pdf, doc, open office, jpg, png, and many others. 
    </p>
    <p><a class="fake-link">About supporting documentation</a></p>
   
    <div id="attachments-section">
      <%= button_to_add_fields "attachments", "Attach documents", f, :attachments %>
      <ul id="attachments-list">
        <%= f.simple_fields_for :attachments do |builder| %>
          <%= render "attachments/attachment_fields", :f => builder %>
        <% end %>  
      </ul>
    </div>

  </div>
</section>