<p>Attach any documents to support your claim</p>

<div>
	<button type="button" class="btn btn-primary">Select</button>
	<button type="button" class="btn btn-success">Attach</button>
</div>
<p>
  <a href="#">About supporting documentation</a>
  
</p>

