= render partial: 'shared/header_message_rebuild', :locals => {:title => "Property repossession: defence"}

.container
  %nav.progress
    %ol
      %li.completed
        %a(href='/claims/demo/defence_step1') About the case
      %li.active
        %span About you
      %li
        %span Your finances
      %li
        %span Check details
      %li
        %span Confirmation

%header.content-header
  %h2 Step 2 - About you
  %p Enter your personal details and tell us about your circumstances.

%section
  %h3.section-header Contact details
  .moj-panel.sub-panel
    .row
      %label(for='defendant-title')> Title
      %select.small(name='defendant-title' id='defendant-title')
        %option(value='') select
        %option(value='Mr' selected) Mr
        %option(value='Mrs') Mrs
        %option(value='Miss') Miss
        %option(value='Ms') Ms
        %option(value='Dr') Dr
        %option(value='Other') Other
    .row.rel
      %label(for='defendant-fullname')> Full name
      %input(type='text' name='defendant-fullname' id='defendant-fullname' value='Louis Robert Stevenson')
    .row.rel.street
      %label(for='defendant-address')> Street
      %textarea(name='defendant-address' id='defendant-address') Flat 3 &#10;92 Crystal Palace Park Road
    .row.rel.town
      %label(for='defendant-town')> Town
      %input(type='text' name='defendant-town' id='defendant-town' value='London')
    .row.rel.postcode
      %label(for='defendant-postcode')> Postcode
      %input.has-button.smalltext(type='text' name='defendant-postcode' id='defendant-postcode' value='SE26 6UP')>
      %a.button.primary.js-find-address> Find UK address
    .row.rel
      %label(for='defendant-mobile')> Mobile
      %input(type='text' name='defendant-mobile' id='defendant-mobile')
    .row.rel
      %label(for='defendant-email')> Email
      %input(type='text' name='defendant-email' id='defendant-email' value='lrstevenson@hotmail.co.uk')


%section
  %h3.section-header Your circumstances
  .moj-panel
    %fieldset.striped-choice.full
      %legend Do you have any children or adults who depend on you for financial support<br>(e.g. a partner, grandchild or parent)?
      .options
        .row
          %input#dependents-yes.js-depend(type='radio' name='dependents' data-depend='dependents')
          %label(for='dependents-yes') Yes
        .row
          %input#dependents-no.js-depend(type='radio' name='dependents')
          %label(for='dependents-no') No
    .sub-panel.extra.rel.hide.js-dependents
      .row.full
        %label(for='dependents-children') Number of children 17 or under
        %select#dependents-children.small(name='dependents-children')
          %option(value='') select
          %option 1
          %option 2
          %option 3
          %option 4
          %option 5
          %option 6
          %option 7
          %option 8
          %option 9
          %option 10
        %label.rel(for='dependents-adults') Number of adults
        %select#dependents-adults.small(name='dependents-adults')
          %option(value='') select
          %option 1
          %option 2
          %option 3
          %option 4
          %option 5
          %option 6
          %option 7
          %option 8
          %option 9
          %option 10
    %fieldset.striped-choice.full
      %legend If the council repossessed your home, would you have somewhere else to live?
      .options
        .row
          %input#somewhere-to-live-yes.js-depend(type='radio' name='somewhere-to-live' data-depend='somewhere-to-live')
          %label(for='somewhere-to-live-yes') Yes
        .row
          %input#somewhere-to-live-no.js-depend(type='radio' name='somewhere-to-live')
          %label(for='somewhere-to-live-no') No
    .sub-panel.extra.rel.hide.js-somewhere-to-live
      %fieldset.full.date-picker
        %legend When would you be able to move in?
        .row
          %select#somewhere-to-live-date.date-date
            %option(value='') day
            %option(value='1') 1
            %option(value='2') 2
            %option(value='3') 3
            %option(value='4') 4
            %option(value='5') 5
            %option(value='6') 6
            %option(value='7') 7
            %option(value='8') 8
            %option(value='9') 9
            %option(value='10') 10
            %option(value='11') 11
            %option(value='12') 12
            %option(value='13') 13
            %option(value='14') 14
            %option(value='15') 15
            %option(value='16') 16
            %option(value='17') 17
            %option(value='18') 18
            %option(value='19') 19
            %option(value='20') 20
            %option(value='21') 21
            %option(value='22') 22
            %option(value='23') 23
            %option(value='24') 24
            %option(value='25') 25
            %option(value='26') 26
            %option(value='27') 27
            %option(value='28') 28
            %option(value='29') 29
            %option(value='30') 30
            %option(value='31') 31
          %select#somewhere-to-live-month.date-month
            %option(value='') month
            %option(value='January') January
            %option(value='February') February
            %option(value='March') March
            %option(value='April') April
            %option(value='May') May
            %option(value='June') June
            %option(value='July') July
            %option(value='August') August
            %option(value='September') September
            %option(value='October') October
            %option(value='November') November
            %option(value='December') December
          %select#somewhere-to-live-year.date-year
            %option(value='') year
            %option(value='2013') 2013
            %option(value='2014') 2014
            %option(value='2015') 2015
            %option(value='2016') 2016
            %option(value='2017') 2017
    .row.full
      %label(for='circumstances-info') Would you like to mention anything about your circumstances<br>(e.g. recently losing a job, divorce, illness or death in the family)?
      %textarea#circumstances-info(name='circumstances-info')


%section
  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/defence_step3') Continue to next step
