= render partial: 'shared/header_message_rebuild', :locals => {:title => "Property repossession: defence"}

.container.start
  %p.lead Find out about the case against you and file a defence.


%section.review
  %h3.section-header
    The case
    %a.right(href='#') View case
  .moj-panel
    .row
      .key
        Property
      .value
        Flat 3
        %br/
        92 Crystal Palace Park Road
        %br/
        London
        %br/
        SE26 6UP
    .row
      .key
        Landlord
      .value
        Bristol City Council
    .row
      .key
        Tenant
      .value
        Mr Louis Robert Stevenson
