= render partial: 'shared/header_message_rebuild', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.completed
        %a(href='/claims/demo/social_step1') Personal details
      %li.completed
        %a(href='/claims/demo/social_step2') Case details
      %li.active
        %span Check details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2 Step 3 - Check details
  %p Check through the information you have given to ensure it’s all correct.

%section.review
  %h3.section-header
    Property
    %a.right(href='#') Make changes
  .moj-panel
    .row
      .key
        Address
      .value
        Flat 3
        %br/
        92 Crystal Palace Park Road
        %br/
        London
        %br/
        SE26 6UP

%section.review
  %h3.section-header
    Landlord (claimant)
    %a.right(href='#') Make changes
  .moj-panel
    .row
      .key
        Council
      .value
        Bristol City Council
    .row
      .key
        Address
      .value
        City Hall
        %br/
        College Green
        %br/
        Bristol
        %br/
        BS1 5TR
    .row
      .key
        Full name
      .value
        Ms Julia Richards
    .row
      .key
        Phone
      .value
        0115 915 5555
    .row
      .key
        Mobile
      .value
        07783 294828
    .row
      .key
        Email
      .value
        julia.richards@bristol.gov.uk

%section.review
  %h3.section-header
    Tenant (defendant)
    %a.right(href='#') Make changes
  .moj-panel
    .row
      .key
        Name
      .value
        Mr Louis Robert Stevenson
    .row
      .key
        Address
      .value
        Living in the property
    .row
      .key
        Mobile
      .value
        07765 917673
    .row
      .key
        Email
      .value
        lrstevenson@hotmail.co.uk

%section.review
  %h3.section-header
    About the tenancy
    %a.right(href='#') Make changes
  .moj-panel
    .row
      .key
        Tenancy type
      .value
        Secure tenancy
    .row
      .key
        Tenancy start date
      .value
        18 September 2012

%section.review
  %h3.section-header
    About the case
    %a.right(href='#') Make changes
  .moj-panel
    .row
      .key
        Notice sent
      .value
        Notice seeking possession
        %br/
        Served 10 September 2013

%section.review
  %h3.section-header
    Further information
    %a.right(href='#') Make changes
  .moj-panel
    .row.full
      .key
        Other information
      .value.highlight
        Lobortis augue sed tincidunt. Quisque posuere, est eget luctus interdum, nulla augue iaculis metus.

%section
  %h3.section-header
    Statement of truth
  .moj-panel
    %form
      .row.full
        %input#confirm-details(type='checkbox' name='confirm-details')
        %label(for='confirm-details')
          I
          %strong John Smith Reynolds
          believe the facts stated on this form (and any attached documents) are true.
      .row.rel.full.warning
        Proceedings for contempt of court may be brought against a person if he makes, or causes to be made, a false statement in a document verified by a statement of truth without an honest belief in its truth.



%section
  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/social_step4') Continue to next step
    %a.button.secondary.large.right(href='/claims/demo/social_step4') Save and come back later
