= render partial: 'shared/header_message_rebuild', :locals => {:title => "Property repossession"}

.container.start
  %p.lead Start court action to repossess your property and collect unpaid rent.

  %h2 Before you start

  %ul
    %li Try to contact the tenant.
    %li Try to agree repayment.
    %li Send them a notice to leave the property.
    %li You must also follow the other steps in the #{link_to 'pre-action protocol', 'http://www.justice.gov.uk/courts/procedure-rules/civil/protocol/prot_rent'}.

  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/social_step1') Start a new case
    