= render partial: 'shared/header_message_rebuild', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.completed
        %a(href='/claims/demo/social_step1') Personal details
      %li.active
        %span Case details
      %li
        %span Check details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2 Step 2 - Case details
  %p Give details of the tenancy and why you’re taking court action.


%section.about-tenancy
  %h3.section-header(id='about-the-tenancy') About the tenancy
  .moj-panel.sub-panel
    %form
      %fieldset.striped-choice
        %legend Tenancy type
        .options
          .row
            %input#tenancytype-secure(type='radio' name='tenancytype' checked='checked')
            %label(for='tenancytype-secure') Secure tenancy
          .row
            %input#tenancytype-introductory(type='radio' name='tenancytype')
            %label(for='tenancytype-introductory') Introductory tenancy
      %fieldset.date-picker
        %legend Tenancy start date
        .row
          %select#tenancystart-date.date-date
            %option(value='') day
            %option(value='1') 1
            %option(value='2') 2
            %option(value='3') 3
            %option(value='4') 4
            %option(value='5') 5
            %option(value='6') 6
            %option(value='7') 7
            %option(value='8') 8
            %option(value='9') 9
            %option(value='10') 10
            %option(value='11') 11
            %option(value='12') 12
            %option(value='13') 13
            %option(value='14') 14
            %option(value='15') 15
            %option(value='16') 16
            %option(value='17') 17
            %option(value='18') 18
            %option(value='19') 19
            %option(value='20') 20
            %option(value='21') 21
            %option(value='22') 22
            %option(value='23') 23
            %option(value='24') 24
            %option(value='25') 25
            %option(value='26') 26
            %option(value='27') 27
            %option(value='28') 28
            %option(value='29') 29
            %option(value='30') 30
            %option(value='31') 31
          %select#tenancystart-month.date-month
            %option(value='') month
            %option(value='January') January
            %option(value='February') February
            %option(value='March') March
            %option(value='April') April
            %option(value='May') May
            %option(value='June') June
            %option(value='July') July
            %option(value='August') August
            %option(value='September') September
            %option(value='October') October
            %option(value='November') November
            %option(value='December') December
          %select#tenancystart-year.date-year
            %option(value='') year
            %option(value='2013') 2013
            %option(value='2012') 2012
            %option(value='2011') 2011
            %option(value='2010') 2010
            %option(value='2009') 2009
            %option(value='2008') 2008
            %option(value='2007') 2007
            %option(value='2006') 2006
            %option(value='2005') 2005
            %option(value='2004') 2004
            %option(value='2003') 2003
            %option(value='2002') 2002
            %option(value='2001') 2001
            %option(value='2000') 2000
            %option(value='1999') 1999
            %option(value='1998') 1998
            %option(value='1997') 1997
            %option(value='1996') 1996
            %option(value='1995') 1995
            %option(value='1994') 1994
            %option(value='1993') 1993
            %option(value='1992') 1992
            %option(value='1991') 1991
            %option(value='1990') 1990
      .row
        %label(for='rent-amount') Rent amount
        %input#rent-amount.pound(type='text' name='rent-amount')
        %select#rent-amount-frequency.small
          %option(value='weekly') per week
          %option(value='monthly') per month
      .row
        %label(for='daily-rent-amount') Daily rent amount
        %input#daily-rent-amount.pound(type='text' name='daily-rent-amount')

%section.about-case
  %h3.section-header(id='about-the-case') About the case
  .moj-panel
    %form
      %fieldset.striped-choice
        %legend Notice served
        .options
          .row
            %input#noticeserved-possession(type='radio' name='noticeserved')
            %label(for='noticeserved-possession') Notice seeking possession
          .row
            %input#noticeserved-intended(type='radio' name='noticeserved')
            %label(for='noticeserved-intended') Notice of intended possession
      %fieldset.date-picker
        %legend Date notice served
        .row
          %select#noticeserved-date.date-date
            %option(value='') day
            %option(value='1') 1
            %option(value='2') 2
            %option(value='3') 3
            %option(value='4') 4
            %option(value='5') 5
            %option(value='6') 6
            %option(value='7') 7
            %option(value='8') 8
            %option(value='9') 9
            %option(value='10') 10
            %option(value='11') 11
            %option(value='12') 12
            %option(value='13') 13
            %option(value='14') 14
            %option(value='15') 15
            %option(value='16') 16
            %option(value='17') 17
            %option(value='18') 18
            %option(value='19') 19
            %option(value='20') 20
            %option(value='21') 21
            %option(value='22') 22
            %option(value='23') 23
            %option(value='24') 24
            %option(value='25') 25
            %option(value='26') 26
            %option(value='27') 27
            %option(value='28') 28
            %option(value='29') 29
            %option(value='30') 30
            %option(value='31') 31
          %select#noticeserved-month.date-month
            %option(value='') month
            %option(value='January') January
            %option(value='February') February
            %option(value='March') March
            %option(value='April') April
            %option(value='May') May
            %option(value='June') June
            %option(value='July') July
            %option(value='August') August
            %option(value='September') September
            %option(value='October') October
            %option(value='November') November
            %option(value='December') December
          %select#noticeserved-year.date-year
            %option(value='') year
            %option(value='2013') 2013
            %option(value='2012') 2012
            %option(value='2011') 2011
            %option(value='2010') 2010
            %option(value='2009') 2009
            %option(value='2008') 2008
            %option(value='2007') 2007
            %option(value='2006') 2006
            %option(value='2005') 2005
            %option(value='2004') 2004
            %option(value='2003') 2003
            %option(value='2002') 2002
            %option(value='2001') 2001
            %option(value='2000') 2000
            %option(value='1999') 1999
            %option(value='1998') 1998
            %option(value='1997') 1997
            %option(value='1996') 1996
            %option(value='1995') 1995
            %option(value='1994') 1994
            %option(value='1993') 1993
            %option(value='1992') 1992
            %option(value='1991') 1991
      .row
        %label(for='total-unpaid-rent') Total unpaid rent
        %input#total-unpaid-rent.pound(type='text' name='total-unpaid-rent')


%section#further-information
  %h3.section-header Further information
  .moj-panel.sub-panel
    %form
      .row.full
        %label(for='further-info') Please give any other information that may be useful for the court.
        %textarea#further-info(name='further-info')
      .row.rel.full
        %input#human-rights(type='checkbox' name='human-rights')
        %label(for='human-rights') The case includes issues under the Human Rights Act 1998


%section#recovery-steps-section
  %h3.section-header Recovery steps already taken
  .moj-panel.sub-panel
    %form
      .row.full
        %label.hidden(for='steps-taken') Recovery steps already taken
        %textarea.small#steps-taken(name='steps-taken')

%section#about-defendant-section
  %h3.section-header About the defendant
  .moj-panel.sub-panel
    %form
      .row.full
        %label.hidden(for='about-defendant') About the defendant
        %textarea.small#about-defendant(name='about-defendant')

%section#about-claimant-section
  %h3.section-header About the claimant
  .moj-panel.sub-panel
    %form
      .row.full
        %label.hidden(for='about-claimant') About the claimant
        %textarea.small#about-claimant(name='about-claimant')

%section
  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/social_step3') Continue to next step
