- @hide_user_nav = true

%header.page-header.group
  %h1 Sign in
  %p.lead Sign in to start court action against a tenant, or view details of your other cases.

.container
  %form
    %fieldset.plain
      %label(for='fullname') Full name
      %input#fullname(type='text')
      %label(for='password') Password
      %input#password(type='password')
      %a.block(href='#') Request a new password
    .action-buttons.cf
      - if !params[:hidepb]
        %a.button.primary.large.chevron.left(href='/claims/demo/social_start') Sign in
      - else
        %a.button.primary.large.chevron.left(href='/claims/demo/social_start?hidepb=true') Sign in

  %br/
  %br/
  %p This is a new service being tested by Bristol City Council

  %p
    If you're another landlord, a tenant or mortgage lender/holder, use&nbsp;
    %a{:href => 'https://www.gov.uk/possession-claim-online-recover-property', :rel => 'external'}> Possession Claim Online
    \.
