= render partial: 'shared/header_message_rebuild', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.active
        %span Personal details
      %li
        %span Case details
      %li
        %span Check details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2 Step 1 - Personal details
  %p Fill in contact details for the tenant or tenants and confirm your details.

%section.property-details
  %h3.section-header(id='property') Property
  .moj-panel.sub-panel
    %form
      .row
        %label(for='property-postcode')> Postcode
        %input.has-button.smalltext#property-postcode(type='text' name='property-postcode')>
        %a.button.primary.js-find-address> Find UK address
      .row.rel.help-link.js-manual-address-row
        %a.js-manual-address(href='#') Enter address manually

%section.review
  %h3.section-header(id='council')
    Council (claimant)
    %a.right(href='#') Make changes
  .moj-panel
    .row
      .key
        Council
      .value
        Bristol City Council
    .row
      .key
        Address
      .value
        St Anne's House
        %br/
        St Anne's Rd
        %br/
        Bristol
        %br/
        BS4 4AB
    .row
      .key
        Full name
      .value
        Ms Kay Brown
    .row
      .key
        Phone
      .value
        0117 352 1444
    .row
      .key
        Email
      .value
        kay.brown@bristol.gov.uk

%section.tenant-details
  %h3.section-header(id='tenant') Tenant (defendant)
  .moj-panel
    %form
      .tenant1
        .row
          %label(for='tenant-numtenants') You're taking court action against
          %select.small#numtenants(name='tenant-numtenants')
            %option(value='1') 1 person
            %option(value='2') 2 people
            %option(value='3') 3 people
            %option(value='4') 4 people
        .row.divider
        .tenants-wrapper
        / rendered by JS/handlebars

%section
  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/social_step2') Continue to next step





/ handlebars templates

= render :partial => 'partials/tenant_form'

= render :partial => 'partials/postcode_fragment'
