%ul.breadcrumb
  %li
    %a(href='/') Home
  %li
    %a(href='/claims/demo/social_yourcases') Your cases

%section
  %header.page-header
    %h1
      Case number
      = params[:case_id]


  .case-status.highlight.cf
    %p.left
      %span Case status
      Hearing scheduled on
      %strong 21 August 2013
    %p.right
      %a{:href => '/claims/demo/social_casehistory/'+params[:case_id] } View details and case history


%section.review
  %h3.section-header
    Property details
  .moj-panel
    .row
      .key
        Address
      .value
        Flat 3
        %br/
        92 Crystal Palace Park Road
        %br/
        London
        %br/
        SE26 6UP

%section.review
  %h3.section-header
    Landlord details
  .moj-panel
    .row
      .key
        Company name
      .value
        Bristol City Council
    .row
      .key
        Address
      .value
        City Hall
        %br/
        College Green
        %br/
        Bristol
        %br/
        BS1 5TR
    .row
      .key
        Full name
      .value
        Ms Julia Richards
    .row
      .key
        Phone
      .value
        0115 915 5555
    .row
      .key
        Mobile
      .value
        07783 294828
    .row
      .key
        Email
      .value
        julia.richards@bristol.gov.uk

%section.review
  %h3.section-header
    Tenant details
  .moj-panel
    .row
      .key
        Name
      .value
        Mr Louis Robert Stevenson
    .row
      .key
        Address
      .value
        Living in the property
    .row
      .key
        Mobile
      .value
        07765 917673
    .row
      .key
        Email
      .value
        lrstevenson@hotmail.co.uk

%section.review
  %h3.section-header
    About the case
  .moj-panel
    .row
      .key
        Notice sent
      .value
        Notice to quit
        %br/
        Sent 10 September 2013

%section.review
  %h3.section-header
    About the tenancy
  .moj-panel
    .row
      .key
        Tenancy type
      .value
        Assured shorthold tenancy
    .row
      .key
        Tenancy start date
      .value
        18 September 2012

%section.review
  %h3.section-header
    Additional information
  .moj-panel
    .row.full
      .key
        Other information
      .value.highlight
        Lobortis augue sed tincidunt. Quisque posuere, est eget luctus interdum, nulla augue iaculis metus.
