%section.confirmation-intro
  %h1 Your case has been sent to the court
  %h2
    Case number:
    %strong 2D9KUVVE

%section.review
  %h3.section-header
    Receipt
    %a.right(href='#') Print receipt
  .moj-panel
    .row
      .key
        Court fee
      .value
        &pound;<span class="number">100</span>
    .row
      .key
        Payment date
      .value
        10 October 2013 at 13:30
    .row
      .key
        Account name
      .value
        BristolCC
    .row
      .key
        Sortcode
      .value
        50-44-76
    .row
      .key
        Account number
      .value
        80044936

%section.review
  %h3.section-header
    Case summary
  .moj-panel
    .row
      .key
        Property
      .value
        Flat 3
        %br/
        12 Park Road
        %br/
        Kingswood
        %br/
        Bristol
        %br/
        BS15 1QU
    .row
      .key
        Council
      .value
        Bristol City Council
    .row
      .key
        Tenant
      .value
        Mr Louis Robert Stevenson

%section.review
  %h3.section-header
    Case status
  .moj-panel.highlight
    .row
      .key
        Current status
      .value
        There will be a court hearing
    .row
      .key
        Hearing date
      .value
        Wednesday 21 November 2013 at 10:30
    .row
      .key
        Court
      .value
        Bristol Civil Justice Centre
    .row
      .value
        %a(href='https://courttribunalfinder.service.gov.uk/courts/bristol-civil-justice-centre' rel='external') View full court details

%section.next
  %h2 What happens next
  %ul
    %li We'll send the tenant details of the court case against them.
    %li The tenant has until <strong>XXXX</strong> to enter details of their defence.
    %li A judge will decide on the case at a court hearing on <strong>XXXX</strong>.
