%ul.breadcrumb
  %li
    %a(href='/') Home
  %li
    %a(href='/claims/demo/social_yourcases') Cases

%section
  %header.page-header
    %h1
      Case number
      = params[:case_id]


  .case-status.highlight.cf
    %p.left
      %span Case status
      Hearing scheduled on
      %strong 21 August 2013
    %p.right
      %a{:href => '/claims/demo/social_casehistory/'+params[:case_id] } View details and case history


%section.review
  %h3.section-header
    Property
  .moj-panel
    .row
      .key
        Address
      .value
        Flat 3
        %br/
        92 Crystal Palace Park Road
        %br/
        London
        %br/
        SE26 6UP

%section.review
  %h3.section-header
    Council (claimant)
  .moj-panel
    .row
      .key
        Council
      .value
        Bristol City Council
    .row
      .key
        Address
      .value
        City Hall
        %br/
        College Green
        %br/
        Bristol
        %br/
        BS1 5TR
    .row
      .key
        Full name
      .value
        Ms Julia Richards
    .row
      .key
        Phone
      .value
        0115 915 5555
    .row
      .key
        Email
      .value
        julia.richards@bristol.gov.uk

%section.review
  %h3.section-header
    Tenant (defendant)
  .moj-panel
    .row
      .key
        Name
      .value
        Mr Louis Robert Stevenson
    .row
      .key
        Address
      .value
        Living in the property
    .row
      .key
        Email
      .value
        lrstevenson@hotmail.co.uk

%section.review
  %h3.section-header
    About the tenancy
  .moj-panel
    .row
      .key
        Tenancy type
      .value
        Secure tenancy
    .row
      .key
        Tenancy start date
      .value
        18 September 2012
    .row
      .key
        Rent amount
      .value
        &pound;80 per week
    .row
      .key
        Daily rent amount
      .value
        &pound;11.30 per day

%section.review
  %h3.section-header
    About the case
  .moj-panel
    .row
      .key
        Notice served
      .value
        Notice seeking possession
    .row
      .key
        Date notice served
      .value
        10 July 2013
    .row
      .key
        Total unpaid rent
      .value
        &pound;1,150

%section.review
  %h3.section-header
    Further information
  .moj-panel
    .row.full
      .value.highlight
        Lobortis augue sed tincidunt. Quisque posuere, est eget luctus interdum, nulla augue iaculis metus.
