= render partial: 'shared/header_message_rebuild', :locals => {:title => "Property repossession"}

.container.start
  %p.lead Start court action to repossess your property and collect unpaid rent.

  %h2 Before you start

  %p Try to contact the tenant as soon as you can.

  %p Ask them:
  %ul
    %li why they're behind with the rent
    %li about their financial situation
    %li if they can get benefits
    %li if they can repay the debt

  %p Send them rent statements showing how much they owe, including:
  %ul
    %li when they fell behind with ren
    %li dates and amounts of allpayments
    %li total owed in unpaid rent

  %p Offer to help them with:
  %ul
    %li any claim for housing benefit
    %li getting support (eg from Citizens Advice or another advice agency)

  %p
    See if they can afford to pay off the debt in instalments, based on their income and spending. Set clear time-limits for payments. If you can't reach an agreement, send the tenant a notice to leave the property. You must also follow the other steps in the&nbsp;
    %a{:href => 'http://www.justice.gov.uk/courts/procedure-rules/civil/protocol/prot_rent', :rel => 'external'}> pre-action protocol
    \.

  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/social_step1') Start a new case
    