= render partial: 'shared/header_message_rebuild', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.active
        %span Personal details
      %li
        %span Case details
      %li
        %span Check details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2 Step 1 - Personal details
  %p Fill in contact details for the tenant or tenants and confirm your details.

%section.property-details
  %h3.section-header Property
  .moj-panel.sub-panel
    %form
      .row
        %label(for='property-postcode')> Postcode
        %input.has-button.smalltext#property-postcode(type='text' name='property-postcode')>
        %a.button.primary.js-find-address> Find UK address
      .row.rel.help-link.js-manual-address-row
        %a.js-manual-address(href='#') Enter address manually

%section.landlord-details
  %h3.section-header Landlord (claimant)
  .moj-panel
    %form
      .row
        %label(for='landlord-council')> Council
        %input(type='text' name='landlord-council' id='landlord-council')
      .row.rel.street
        %label(for='landlord-address')> Street
        %textarea(name='landlord-address' id='landlord-address')
      .row.rel.town
        %label(for='landlord-town')> Town
        %input(type='text' name='landlord-town' id='landlord-town')
      .row.rel.postcode
        %label(for='landlord-postcode')> Postcode
        %input.has-button.smalltext(type='text' name='landlord-postcode' id='landlord-postcode')>
        %a.button.primary.js-find-address> Find UK address
      .row
        %label(for='landlord-title')> Title
        %select.small(name='landlord-title' id='landlord-title')
          %option(value='') select
          %option(value='Mr') Mr
          %option(value='Mrs') Mrs
          %option(value='Miss') Miss
          %option(value='Ms') Ms
          %option(value='Dr') Dr
          %option(value='Other') Other
      .row.rel
        %label(for='landlord-fullname')> Full name
        %input(type='text' name='landlord-fullname' id='landlord-fullname')
      .row.rel
        %label(for='landlord-phone')> Phone
        %input(type='text' name='landlord-phone' id='landlord-phone')
      .row.rel
        %label(for='landlord-mobile')> Mobile
        %input(type='text' name='landlord-mobile' id='landlord-mobile')
      .row.rel
        %label(for='landlord-email')> Email
        %input(type='text' name='landlord-email' id='landlord-email')
      .row.rel.full
        %details
          %summary Would you like to provide a DX number?
          .row
            %label(for='landlord-dxnumber') DX number
            %input(type='text' name='landlord-dxnumber' id='landlord-dxnumber')
          .row.rel
            %label(for='landlord-dxexchange') DX exchange
            %input(type='text' name='landlord-dxexchange' id='landlord-dxexchange')


%section.tenant-details
  %h3.section-header Tenant (defendant)
  .moj-panel
    %form
      .tenant1
        .row
          %label(for='tenant-numtenants') You're taking court action against
          %select.small#numtenants(name='tenant-numtenants')
            %option(value='1') 1 person
            %option(value='2') 2 people
            %option(value='3') 3 people
            %option(value='4') 4 people
        .row.divider
        .tenants-wrapper
        / rendered by JS/handlebars

%section
  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/social_step2') Continue to next step
    %a.button.secondary.large.right(href='/claims/demo/social_step2') Save and come back later





/ handlebars templates

= render :partial => 'partials/tenant_form'

= render :partial => 'partials/postcode_fragment'
