= render partial: 'shared/header_message_rebuild', :locals => {:title => "Start a property repossession case"}

.container
  %nav.progress
    %ol
      %li.completed
        %a(href='/claims/demo/social_step1') Personal details
      %li.completed
        %a(href='/claims/demo/social_step2') Case details
      %li.completed
        %a(href='/claims/demo/social_step3') Check details
      %li.active
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2 Step 4 - Pay court fee
  %p
    The hearing date below is available if you pay the court fee in the next 30 minutes:


%section
  %h3.section-header
    Hearing date
  .moj-panel.important
    .row
      .key
        Hearing date
      .value
        Wednesday 21 November 2013 at 10:30
    .row
      .key
        Court
      .value
        Bristol Civil Justice Centre

%section
  %h3.section-header
    Payment details
  .moj-panel
    %form
      .row
        .key
          Court fee
        .value
          &pound;<span class="number">100</span>
      .row
        .key
          Account name
        .value
          BristolCC
      .row
        .key
          Sortcode
        .value
          50-44
      .row
        .key
          Account number
        .value
          80044936

%section
  %h3.section-header
    Agree to terms
  .moj-panel
    .row.full
      %input#agree-terms(type='checkbox' name='agree-terms')
      %label(for='agree-terms')
        I agree to the #{link_to 'terms and conditions', '#'} of this service.
    .row.rel.full.information
      We will never share your details with anyone: see our #{link_to 'privacy policy', '#'}.
      

%section
  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/social_step5') Pay and send case to the court
