.container.start
  %p.lead Use this online form to start the process of repossessing a property if your tenant doesn’t pay their rent, breaks the tenancy agreement or refuses to move out.

  .action-buttons.cf
    %a.button.primary.large.chevron.left(href='/claims/demo/step1') Start a new case

  %h2 Guide to the online form

  %ol.steps
    %li
      %strong Step 1 - Personal details
      Fill in contact details for the landlord and tenants.
    %li
      %strong Step 2 - Case details
      Give your reasons for repossession and add details of the tenancy.
    %li
      %strong Step 3 - Confirm details
      Check through all the details and confirm they are correct.
    %li
      %strong Step 4 - Pay court fee
      Pay a £100 court fee using a debit or credit card, Paypal or Worldpay.
    %li
      %strong Step 5 - Confirmation
      We'll confirm we have your case and tell you what happens next.

  %h2 Before you start

  %ul
    %li Try to contact your tenant to come to an agreement.
    %li You must have given the tenants #{link_to 'notice to leave', '#'}.
    %li
      The form will take about
      %strong 20 minutes
      to complete.
    %li
      You will have to pay a
      %strong £100
      court fee.
    %li You may have to go to a court hearing afterwards.
    %li The whole process can take at least 12 weeks.
    %li This service is only for England and Wales.
