<%= render_claimant_navigation %>

<div class='row'>
  <div class='panel'>
    <p>Thankyou for submitting your claim</p>
    <p>Your reference code is <em><strong><%= @claim.id %></strong></em></p>

    <a class='button-secondary' href='#'>Print receipt</a>
    <a class='button-secondary' href='#'>Print completed form</a>
    <div class="info-notice">
      <p class='center'>Your hearing will take place on</p>
      <% date = (Date.today + 3.weeks).strftime("%A %-d %B %Y") %>
      <h2 class='center'><%= date %> at 10:30am</h2>
    </div>
    <p class='center'>at</p>

    <%= render :partial => 'shared/lambeth_court' %>

    <p>You can view all these details and full details of this submitted claim under <a class='fake-link'>Your Claims</a> in your <a class='fake-link'>Account</a></p>

    <h3>What happens next</h3>
    <ul>
      <li>
        <h4>Claim submitted and court scheduled</h4>
        <p>The details of all the parties involved in the claim, any co-claimants and all defendants.</p>
      </li>
      <li>
        <h4>Defence Notified</h4>
        <p>The defendant in the claim is notified of the claim and can login to the system and respond to the claim.</p>
      </li>
      <li>



  </div>
</div>