= render_local_navigation
%article
  %h2 Step 3 of 6 - County Court
  %p.lead Continue to payment to confirm court date.
  
  %section
    .court-hearing-details-time
      %h3 Hearing in 4-6 weeks
    .moj-panel
      = render partial: 'shared/lambeth_court'

  = form_for @claim do |f|
    = render partial: 'shared/save_continue'
