%section.confirmation-intro
  %h1 Your case has been submitted
  %p We've sent you an email with all the details of your case.
  %p You can track the status at any time in #{link_to 'your cases', '#'}.
  %h2
    Case number:
    %strong 2D9KUVVE

%section.review
  %h3.section-header
    Receipt
    %a.right(href='#') Print receipt
  .moj-panel
    .row
      .key
        Court fee
      .value
        &pound;100
    .row
      .key
        Payment method
      .value
        VISA **** **** 1234
    .row
      .key
        Payment date
      .value
        10 July 2013 at 13:30
    .row.full
      The charge will appear on your account as GOV-UK-REPOSSESSION

%section.review
  %h3.section-header
    Case summary
    %a.right(href='#') View the case
  .moj-panel
    .row
      .key
        Property
      .value
        Flat 3
        %br/
        92 Crystal Palace Park Road
        %br/
        London
        %br/
        SE26 6UP
    .row
      .key
        Landlord
      .value
        Mr John Smith Reynolds
    .row
      .key
        Tenant
      .value
        Mr Louis Robert Stevenson

%section.review
  %h3.section-header
    Case status
    %a.right(href='#') View case history
  .moj-panel
    .row
      .key
        Current status
      .value
        Hearing scheduled
    .row
      .key
        Hearing date
      .value
        Wednesday 21 August 2013 at 10:30
    .row
      .key
        Court
      .value
        Lambeth County Court
    .row
      .key
        Address
      .value
        Court House
        %br/
        Cleaver Street
        %br/
        Kennington Road
        %br/
        London
        %br/
        SE11 4DZ
    .row
      .value
        %a(href='#' rel='external') View full court details
    .row.full.map
      = image_tag('lambeth-map2.png', alt: 'Lambeth County Court map')

%section.next
  %h2 What happens next
  %ul
    %li
      We'll send the tenant details of your court action
    %li
      The tenant has until
      %strong 14 August 2013
      to respond.
    %li
      A judge will decide on the case at the hearing on&nbsp;
      %strong> 21 August 2013
      \.
      
