%ul.breadcrumb
  %li
    %a(href='/') Home
  %li
    %a(href='/claims/demo_social_yourcases') Your cases

%section
  %header.page-header
    %h1
      Case number
      = params[:case_id]


  .case-status.highlight.cf
    %p.left
      %span Case status
      Hearing scheduled on
      %strong 21 August 2013
    %p.right
      %a{:href => social_case_history_path(params[:case_id]) } View details and case history


%section.review
  %h3.section-header
    Property details
  .moj-panel
    .row
      .key
        Address
      .value
        Flat 3
        %br/
        92 Crystal Palace Park Road
        %br/
        London
        %br/
        SE26 6UP
    .row
      .key
        Type of property
      .value
        Residential
    .row
      .key
        Who is in the property?
      .value
        Tenants

%section.review
  %h3.section-header
    Landlord details
  .moj-panel
    .row
      .key
        Company name
      .value
        Bristol City Council
    .row
      .key
        Address
      .value
        City Hall
        %br/
        College Green
        %br/
        Bristol
        %br/
        BS1 5TR
    .row
      .key
        Full name
      .value
        Ms Julia Richards
    .row
      .key
        Phone
      .value
        0115 915 5555
    .row
      .key
        Mobile
      .value
        07783 294828
    .row
      .key
        Email
      .value
        julia.richards@bristol.gov.uk

%section.review
  %h3.section-header
    Managing agent
  .moj-panel
    .row
      .key
        Company name
      .value
        Agents UK Ltd
    .row
      .key
        Address
      .value
        113 Haywards Road
        %br/
        Bristol
        %br/
        BS3 5PD
    .row
      .key
        Full name
      .value
        Mr Robert Robertson
    .row
      .key
        Phone
      .value
        020 8345 6789
    .row
      .key
        Mobile
      .value
        07798 346457
    .row
      .key
        Email
      .value
        rob.robertson@agentsuk.com

%section.review
  %h3.section-header
    Tenant details
  .moj-panel
    .row
      .key
        Name
      .value
        Mr Louis Robert Stevenson
    .row
      .key
        Address
      .value
        Living in the property
    .row
      .key
        Mobile
      .value
        07765 917673
    .row
      .key
        Email
      .value
        lrstevenson@hotmail.co.uk

%section.review
  %h3.section-header
    About the case
  .moj-panel
    .row
      .key
        Your reasons for repossession
      .value
        Unpaid rent
    .row
      .key
        Notice sent
      .value
        Notice to quit
        %br/
        Sent 10 September 2013
        .files
          %ul
            %li
              Noticetoquit.pdf
              %a(href='#') View

%section.review
  %h3.section-header
    About the tenancy
  .moj-panel
    .row
      .key
        Tenancy type
      .value
        Assured shorthold tenancy
    .row
      .key
        Tenancy start date
      .value
        18 September 2012
        .files
          %ul
            %li
              TenancyAgreement2012.pdf
              %a(href='#') View

%section.review
  %h3.section-header
    Unpaid rent
  .moj-panel
    .row
      .key
        Rent amount
      .value
        &pound;950 per month
    .row
      .key
        Daily rent amount
      .value
        &pound;32 per day
    .row
      .key
        Total unpaid rent
      .value
        &pound;2,850
    .row.divider
    .row.full.files
      .key
        Attached files
      %ul
        %li
          RentStatement01567.xls
          %a(href='#') View

%section.review
  %h3.section-header
    Additional information
  .moj-panel
    .row.full
      .key
        Attached files
      .value.files
        %ul
          %li
            Tenancyagreement.pdf
            %a(href='#') View
          %li
            Letter_from_Lambeth_Council.doc
            %a(href='#') View
          %li
            LettertoDefendant.doc
            %a(href='#') View
