%section.confirmation-intro
  %h1 Your case has been submitted
  %p We've sent you an email with all the details of your case.
  %p You can track the status at any time in #{link_to 'your cases', '#'}.
  %h2
    Case number:
    %strong 2D9KUVVE

%section.review
  %h3.section-header
    Receipt
    %a.right(href='#') Print receipt
  .moj-panel
    .row
      .key
        Court fee
      .value
        &pound;100
    .row
      .key
        Payment date
      .value
        10 October 2013 at 13:30
    .row
      .key
        Account name
      .value
        BristolCC
    .row
      .key
        Sortcode
      .value
        50-44
    .row
      .key
        Account number
      .value
        80044936
    .row.full
      The charge will appear on your account as GOV-UK-REPOSSESSION

%section.review
  %h3.section-header
    Case summary
    %a.right(href='#') View the case
  .moj-panel
    .row
      .key
        Property
      .value
        Flat 3
        %br/
        92 Crystal Palace Park Road
        %br/
        London
        %br/
        SE26 6UP
    .row
      .key
        Landlord
      .value
        Bristol City Council
    .row
      .key
        Managing agent
      .value
        AgentsUK Ltd
    .row
      .key
        Tenant
      .value
        Mr Louis Robert Stevenson

%section.review
  %h3.section-header
    Case status
    %a.right(href='#') View case history
  .moj-panel.highlight
    .row
      .key
        Current status
      .value
        Hearing scheduled
    .row
      .key
        Hearing date
      .value
        Wednesday 21 November 2013 at 10:30
    .row
      .key
        Court
      .value
        Bristol Civic Justice Centre
    .row
      .key
        Address
      .value
        2 Redcliff Street
        %br/
        Bristol
        %br/
        BS1 6GR
    .row
      .value
        %a(href='#' rel='external') View full court details
    .row.full.map
      = image_tag('bristol-court-map.png', alt: 'Bristol Civic Justice Centre map')

%section.next
  %h2 What happens next
  %ul
    %li
      We'll send the tenant details of your court action
    %li
      The tenant has until
      %strong 14 November 2013
      to respond.
    %li
      A judge will decide on the case at the hearing on&nbsp;
      %strong> 21 November 2013
      \.
      
