.container
  %nav.progress
    %ol
      %li.active
        %span Personal details
      %li
        %span Case details
      %li
        %span Confirm details
      %li
        %span Pay court fee
      %li
        %span Confirmation

%header.content-header
  %h2 Step 1 - Personal details
  %p Fill in the address of the property you want to repossess and contact details for the landlords and tenants.

%section.property-details
  %h3.section-header Property details
  .moj-panel
    %form
      .row
        %label(for='postcode')> Postcode
        %input.has-button.smalltext#postcode(type='text' name='postcode')>
        %a.button.primary.js-find-address> Find UK address
      .row.rel.help-link
        %a.js-manual-address(href='#') Enter address manually
      %fieldset.striped-choice
        %legend Type of property
        .options
          .row
            %input#property-residential(type='checkbox')
            %label(for='property-residential') Residential
          .row
            %input#property-commercial(type='checkbox')
            %label(for='property-commercial') Commercial
      %fieldset.striped-choice
        %legend Who is in the property?
        .options
          .row
            %input#property-who-tenants(type='radio' name='property-who')
            %label(for='property-who-tenants') Tenants
          .row
            %input#property-who-squatters(type='radio' name='property-who')
            %label(for='property-who-squatters') Squatters
      .row.full
        %details
          %summary Would you like to provide a title number?
          .row
            %label(for='title-number') Title number
            %input.smalltext#title-number(type='text' name='title-number')
          .row.rel.help-link
            %a(href='#') About title numbers

%section.landlord-details
  %h3.section-header Landlord details
  .moj-panel
    %form
      .row
        %label(for='landlord-numlandlords')> Number of landlords
        %select.small#landlord-numlandlords(name='landlord-numlandlords')
          %option(value='1') 1
          %option(value='2') 2
          %option(value='3') 3
          %option(value='4') 4
          %option(value='5') 5
          %option(value='6') 6
          %option(value='7') 7
          %option(value='8') 8
          %option(value='9') 9
          %option(value='10') 10
      .row.divider
      .row
        %label(for='landlord-title')> Title
        %select.small#landlord-title(name='landlord-title')
          %option(value='') select
          %option(value='Mr') Mr
          %option(value='Mrs') Mrs
          %option(value='Miss') Miss
          %option(value='Ms') Ms
          %option(value='Dr') Dr
          %option(value='Other') Other
      .row.rel
        %label(for='landlord-fullname')> Full name
        %input#landlord-fullname(type='text' name='landlord-fullname')
      .row.rel
        %label(for='landlord-address')> Street
        %textarea#landlord-address(name='landlord-address')
      .row.rel
        %label(for='landlord-town')> Town
        %input#landlord-town(type='text' name='landlord-town')
      .row.rel
        %label(for='landlord-postcode')> Postcode
        %input.has-button.smalltext#landlord-postcode(type='text' name='landlord-postcode')>
        %a.button.primary.js-find-address> Find UK address
      .row.rel
        %label(for='landlord-phone')> Phone
        %input#landlord-phone(type='text' name='landlord-phone')
      .row.rel
        %label(for='landlord-mobile')> Mobile
        %input#landlord-mobile(type='text' name='landlord-mobile')
      .row.rel
        %label(for='landlord-email')> Email
        %input#landlord-email(type='text' name='landlord-email')
      .row.rel.full
        %details
          %summary I would like to provide a DX number
          .row
            %label(for='landlord-dxnumber') DX number
            %input#landlord-dxnumber(type='text' name='landlord-dxnumber')
          .row.rel
            %label(for='landlord-dxexchange') DX exchange
            %input#landlord-dxexchange(type='text' name='landlord-dxexchange')

%section.tenant-details
  %h3.section-header Tenant details
  .moj-panel
    %form
      .row
        %label(for='tenant-numtenants') Number of tenants
        %select.small#tenant-numtenants(name='tenant-numtenants')
          %option(value='1') 1
          %option(value='2') 2
          %option(value='3') 3
          %option(value='4') 4
          %option(value='5') 5
          %option(value='6') 6
          %option(value='7') 7
          %option(value='8') 8
          %option(value='9') 9
          %option(value='10') 10
      .row.divider
      .row
        %label(for='tenant-title') Title
        %select.small#tenant-title(name='tenant-title')
          %option(value='') select
          %option(value='Mr') Mr
          %option(value='Mrs') Mrs
          %option(value='Miss') Miss
          %option(value='Ms') Ms
          %option(value='Dr') Dr
          %option(value='Other') Other
      .row.rel
        %label(for='tenant-fullname') Full name
        %input#tenant-fullname(type='text' name='tenant-fullname' placeholder='e.g. John Smith')
      %fieldset.striped-choice.rel
        %legend Address
        .options
          .row
            %input#tenant-location-inproperty(type='radio' name='tenant-location')
            %label(for='tenant-location-inproperty') They are living in the property
          .row
            %input#tenant-location-elsewhere(type='radio' name='tenant-location')
            %label(for='tenant-location-elsewhere') They are at another known address
          .row
            %input#tenant-location-unknown(type='radio' name='tenant-location')
            %label(for='tenant-location-unknown') I don't know where they are
      .row.rel
        %label(for='tenant-phone') Phone
        %input#tenant-phone(type='text' name='tenant-phone')
      .row.rel
        %label(for='tenant-mobile') Mobile
        %input#tenant-mobile(type='text' name='tenant-mobile')
      .row.rel
        %label(for='tenant-email') Email
        %input#tenant-email(type='text' name='tenant-email')
