<div class="content-wrap">
  
  <p>
    You can take court action to repossess a property in you are owed money
    for rent or a mortage, and the tenant or mortgagee holder won't pay.
  </p>
    
  <div id="start-continue-claim">
    <% if @user.claims.size > 0 %>
    <ul class='nav nav-tabs' id='claims-index-tabs'>
      <li class='active submit'><a href='#new' data-toggle="tab">Start a new claim</a></li>
      <li class='list'><a href='#list' data-toggle="tab">Your claims</a></li>
    </ul>
    <% else %>
    <h3>Start a new claim</h3>
    <% end %>

    <div class='tab-content'>
      <div class='tab-pane active' id='new'>
        <%= render partial: 'claims/claimant/home' %>
      </div>
      <div class='tab-pane' id='list'>
        <%= render partial: 'claims/claimant/list', locals: {claims: @user.claims} %>
      </div>
    </div>
  </div>

  <div>
    <h3>Before you begin</h3>
    <p>If you are making your first possession claim online here are a few things you need to know and to think about. These help topics are a good place to start....</p>
  </div>
  
</div>