<div class="content-wrap">
  
  <p>
    You can take court action to repossess a property in you are owed money
    for rent or a mortage, and the tenant or mortgagee holder won't pay.
  </p>
    
  <div id="start-continue-claim">
    <% has_claims = (@user.claims.size > 0) %>
    <% if has_claims %>
      <ul class='nav nav-tabs' id='claims-index-tabs'>
        <li class='submit'><a href='#new' data-toggle="tab">Start a new claim</a></li>
        <li class='active list'><a href='#list' data-toggle="tab">Your claims</a></li>
      </ul>
    <% else %>
      <h3>Start a new claim</h3>
    <% end %>

    <div class='tab-content'>
      <% tab_class = has_claims ? 'tab-pane' : 'tab-pane active' %>
     <div class='<%= tab_class %>' id='new'>
        <%= render partial: 'claims/claimant/home' %>
      </div>
      <% tab_class = has_claims ? 'tab-pane active' : 'tab-pane' %>
      <div class='<%= tab_class %>' id='list'>
        <%= render partial: 'claims/claimant/list', locals: {claims: @user.claims} %>
      </div>
    </div>
  </div>

  <div id="start-continue-claim-disclaimer">
    <div class="start-continue-claim-info">
      <h3>Before you begin</h3>
      <p>
        If you are making your first possession claim online, here are a few things you need to 
        know and to think about. These help topics are a good place to start.
        
        <details>
          <summary>What is involced with making a claim</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, a, nobis id illo consequatur earum iusto deserunt commodi. Vitae, ullam sapiente fugit optio culpa quaerat delectus illum accusantium accusamus sed.
          </p>
        </details>
        <details>
          <summary>What to expect</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, repellat, nulla facere unde veritatis iusto tenetur quidem ipsam fugiat beatae porro esse quis! Id, esse, at corporis vel eveniet placeat.
          </p>
        </details>
      </p>
    </div>
    <div>
      <h3>Quick questions</h3>
      <p>
        Here are some answers to common questions. You'll find lots more guidance on
        the decisions you need to make and the information you need to add as you progress
        through a claim.

        <details>
          <summary>How much does it cost to make a claim?</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, a, nobis id illo consequatur earum iusto deserunt commodi. Vitae, ullam sapiente fugit optio culpa quaerat delectus illum accusantium accusamus sed.
          </p>
        </details>
        <details>
          <summary>How long does it take for the claim to finish?</summary>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, repellat, nulla facere unde veritatis iusto tenetur quidem ipsam fugiat beatae porro esse quis! Id, esse, at corporis vel eveniet placeat.
          </p>
        </details>
      </p>
    </div>
  </div>
  
</div>