<%= render partial: 'claims/claimant/navigation' %>

<div class='row'>
  <div class="page-header">
    <h1>Step 3 of 6 - Court scheduling</h1>
  </div>

  <p>Based on court availability and the postcode you are claiming possession of, your hearing will take place in the following court or tribunal on the following day.</p>

  <% date = (Date.today + 6.weeks).strftime("%A %-d %B %Y") %>
  <h2 class="info-notice moj-panel"><%= date %> at 10:30am</h2>

  <%= render :partial => 'shared/lambeth_court' %>
  
  <div class="save-close-panel">
    <div class="button">Save & Continue</div>
    <a href="/" class="button-secondary">Close</a>
  </div>
  
</div>

