<%= render partial: 'claims/claimant/navigation' %>

<div class="page-header">
  <h1>4. Statement of truth</h1>
</div>

<p>Please read through all the information that you have provided and ensure that to the best of your knowledge it is all correct.</p>
<p>If anything is incorrect please go to the relevent section and update it.</p>