<% options = generateAddresses %>
<div class="control-group string optional pick_address">
  <label class="string optional control-label" for="pick_address">Pick an address</label>
  <div class="controls">
    <%= select_tag('pick_address', options) %>
  </div>
</div>