
.moj-large-steps {
  list-style-type: none;
  position: relative;

  .moj-large-step {
    position: relative;        
    padding-left: 15px;
    margin: 40px 0;
    
    > img {
      display: inline-block;
      margin-left: 60px;
      vertical-align: top;
    }
    
    > div {
      display: inline-block;
      width: 50%;
    }

    .moj-large-step-number {
      position: absolute;
      display:inline-block;
      left: -25px;
      top: 20px;
      padding: 5px 8px;

      font-size: 12px;
      font-weight: bold;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      
      background-color: #000;
      border-radius: 20px;
    }

    .step-title {
      font-weight: bold;
    }

    
  }
}