@import "_colours";
@import "_typography";
@import "design-patterns/_buttons.scss";
@import "claims-vars";
@import "claims-mixins";

// generic
.form-row {
  @include clearfix;
  clear: both;
  margin-bottom: 10px;

  label {
    float: left;
    text-align: left;
    width: 160px;
  }

  input[type=text], input[type=tel], input[type=email], select { 
    width: 20em;
    min-height: 30px;
    height: 30px;
    padding-top:4px;
    padding-bottom:4px;

    &.title  {
      width: 6em;   
    }
    &.postcode {
      width: 7.5em;
    }
    &.nolabel {
      margin-left: 160px;
    }
  }
  
  // for date selectors
  select.date {
    width: auto;
    margin-left: 2px;
  }

  // striped yes/no radio buttons
  &.radio_buttons{
    label{
      float: none;
      width: auto;
    }

    &> label{
      display: block;
    }
    
    .radio{
      display: block;
      @include striped-choice;
    }
  }

  // for checkboxes with the check on the left side
  // just quickly for now 
  &.reversed {
    position: relative;
    min-height: 30px;
    height: 30px;
    &> input[type=checkbox] {
      position: absolute;
      left: 0px;
      top: 3px;
    }
    &> label {
      width: auto;
      padding-left: 20px;
      vertical-align: middle;
    }
  }

}

form {
  h3 {
    margin-top: 40px;
  }
}

form {
  details summary {
    margin:0 0 10px 160px;
    max-width: 20em;
  }
}

.address-editor .form-group {
  &> div {
    padding:4px 10px;
  }

  h4 {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 0;
  }

  margin: 10px 0;
}


.striped-choice {
  position: relative;
  
  div {
    @include striped-choice;
  }
}

textarea {
  width: 100%;
}

.buttons {
  .float {
    margin-left: 4em;
  }
}

.supplementary {
  color: $grey-1;
}


// specific

form.add-additional-person {
  margin-top: 21px;
  margin-bottom: 20px;
}

.edit-person, .address-container {
  margin-top: 20px;
  margin-bottom: 20px;

  .btn-danger { margin-left: 21em; }
}

.address-container {
  .address_postcode {
    .postcode { display: inline-block;  width: 7.5em; }
  }
  a.find-uk-address { display: inline-block; margin-left: 10px; }
  
  .inline-help {
    margin-bottom: 5px;
    a.toggle-help  { font-size: 80%; margin-left: 160px; }
  }

  .manual-address, .copy-address {
    display: inline-block;
    margin-left: 10em;
    margin-bottom: 10px;
  }

  .manual-address {
    width: 100%;
  }

  .button-group {
    margin:20px 0;
  }
}

.js-enabled {
  .address { display: none; }
  .address.valid { display: block; }
}

#edit-claim form {
  input {
    display:inline-block;
    box-shadow: none;
  }
  input:focus:invalid {
    color: #555555;
    border-color: #73b9ef;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(115, 185, 239, 0.3);
  }
  input:focus {
    border-color: #73b9ef;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(115, 185, 239, 0.3);
  }
  input.tabbed-out:invalid {
    color: red;
    border-color: red;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.3);
  }
  input.tabbed-out:valid + span.icon-container:after {
    content: 'y';
    color: green;
  }
  input.tabbed-out:invalid + span.icon-container:after {
    content: 'n';
    color: red;
  }
  input + span.icon-container:after {
    font-family: 'validators';
    top:3px;
    left:-27px;
    position:relative;
  }
}


.person .filler {
  height: 20px;
  display:block;
}

.person.particulars { background-color: #d7edeb; border-color: #b5d5d0; }

#statement-of-truth {
  form.edit_claim {
    margin-top: 30px; 
  }

  h2 {
    margin: 50px 0 10px 0;
  }
  h4 {
    font-weight: bold; margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .particulars span {
    display: block;
  }
}

.payment-details-wrap{
  border-bottom: 1px solid $default-panel-border-color;
  margin-bottom: 10px;
  .payment-details{
    padding: 10px 40px 20px 40px;
  }
}

#card-security-code{
  display: inline-block;
  width: 130px;
}

.claim_signature {
  margin-top:40px;
  margin-bottom:40px;
  
  input {
    margin-left: 0px;
    margin-top: -45px;
    float: left;
  }
  label {
    width: auto;
    font-weight: bold;
    padding-left: 20px;
    vertical-align: middle;
  }
  
}
.warning span {
  font-family: validators;
  color: red;
  float: left;
  font-size: 27px;
  margin-right: 20px;
  margin-top: 5px;
}
