@import "_colours";
@import "_typography";
@import "design-patterns/_buttons.scss";
@import "claims-global";



// CLAIMS STATUS

#claims-list{
  li {
    margin-bottom: 20px;
  }
  .claim-item {
    @extend .panel-default;
    margin-top: 25px;
    margin-bottom: 40px;
    
    .content-label{
      font-weight: bold;
    }
    
    #claim-item-action-buttons{
      margin: 25px 0px 10px 0px;
    }
    #claims-item-status-label{
      @extend details;
    }
  }
}

#claims-item-status {
  position: relative;
  summary{
    text-decoration: none;
    display: inline-block;
    #claims-item-status-label{
      display: inline;
      text-decoration: underline;
    }
    #claims-item-status-header{
      margin-left: 105px;
      text-decoration: none;
      color: #000;
      &:hover{
        color: #000;
      }
    }
  }

  #claims-item-status-content{
    position: relative;
    margin-left: 150px;
    margin-top: 15px;

// hey hey refactor this span
    #claims-item-status-content-list{
      
      span {
        position: inline;
        margin-right: 10px;

        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        
        background-color: #01A75F;
        border-radius: 9999px;
      }

      li {
        list-style-type: none;
        list-style-image: none;
      }

      .claims-item-status-item-yes span { padding: 4px 6px; }
      .claims-item-status-item-no span { 
        background-color: $grey-3;
        padding: 4px 11px; 
      }

    }
  }

}



// LARGE STEPS

ol.large-steps, ul.large-steps {
  list-style-type: none;
  position: relative;

  li {
    position: relative;        
    padding-left: 15px;
    margin: 40px 0;

    a {
      display: block;
    }
    
    img {
      margin-left: 60px;
      vertical-align: top;
    }
    
    div {
      display: inline-block;
      width: 50%;
    
      span {
        position: absolute;
        display:inline-block;
        left: -25px;
        top: 0;
        padding: 5px 8px;

        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        
        background-color: #000;
        border-radius: 20px;
      }

      .step-title {
        font-weight: bold;
      }

    }
  }
}
