@import "_colours";
@import "_typography";
@import "design-patterns/_buttons.scss";
@import "claims-vars";
@import "claims-mixins";

.plain {
  list-style-type: none;
  list-style-image: none;
  padding-left: 0;
  li {
    list-style-type: none;
    list-style-image: none;
    padding-left: 0;
  }
  .moj-panel > & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  span.item {
    display: inline-block;
    width: 200px;
  }
}


.moj-large-steps {
  list-style-type: none;
  position: relative;
  padding-left: 0;

  .moj-large-step {
    position: relative;        
    padding-left: 25px;
    margin: 40px 0;
    
    > img {
      display: inline-block;
      margin-left: 60px;
      vertical-align: top;
    }
    
    > div {
      display: inline-block;
      margin-top: 20px;
      width: 50%;
      padding-left: 10px;
    }

    .step-title {
      font-weight: bold;
    }

    &.number-1{ background: image-url('icon-step-1.png') no-repeat 0 20px; }
    &.number-2{ background: image-url('icon-step-2.png') no-repeat 0 20px; }
    &.number-3{ background: image-url('icon-step-3.png') no-repeat 0 20px; }
    &.number-4{ background: image-url('icon-step-4.png') no-repeat 0 20px; }
    &.number-5{ background: image-url('icon-step-5.png') no-repeat 0 20px; }
    &.number-6{ background: image-url('icon-step-6.png') no-repeat 0 20px; }

  }
}

.claims-item-status {
  position: relative;
  
  summary{
    text-decoration: none;
    
    .status-label{
      display: inline-block;
      text-decoration: underline;
      width: 22%;
    }

    .status-header{
      text-decoration: none;
      color: #000;
      &:hover{
        color: #000;
      }
    }
  }

  .status-content{
    position: relative;
    margin-left: 25.5%;
    margin-top: 10px;
    padding-left: 0px;

    .content-list{
      @include reset-list;
      padding-left: 0px;
    }
      
    .status-item-yes {
      background: image-url('status_on.png') no-repeat center left;
      padding: 1px 0px 1px 30px;
    }
    .status-item-no  { 
      background: image-url('status_off.png') no-repeat center left;
      padding: 1px 0px 1px 30px;
    }
  }
}

.attachment-list{
  padding-left: 0;
  @include reset-list;

  .attachment-element{
    @include panel-style(#d5eeea);
    padding: 15px;
    margin: 5px 0 5px;
    ul, ol {
      padding-left: 0;
    }
    input {
      float: right;
    }
  }

}
