@import "_colours";
@import "_typography";
@import "design-patterns/_buttons.scss";
@import "claims-vars";
@import "claims-mixins";

// generic
.form-row {
  @include clearfix;
  clear: both;
  margin-bottom: 10px;
  
  label {
    display: inline-block;
    vertical-align: baseline;
    text-align: left;
    width: 160px;
  }

  &.currency {
    label {
      // better way please
      width: 148px;
    }
  }

  select.date {
    width: auto;
    display: inline-block;
  }

  input[type=text], input[type=tel], input[type=email], input[type=currency], select { 
    min-height: 30px;
    height: 30px;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:10px;
    width: 20em;

    &.title  {
      width: 6em;   
    }
    &.postcode {
      width: 7.5em;
    }
    &.nolabel {
      margin-left: 160px;
    }
    &.small {
      width: 12em;
    }
  }
  
  // for date selectors
  select.date {
    width: auto;
    margin-left: 2px;
  }

  // striped yes/no radio buttons
  &.radio_buttons{
    label{
      float: none;
      width: auto;
    }

    &> label{
      display: block;
    }
    
    .radio{
      display: block;
      @include striped-choice;
    }
  }

  // for checkboxes with the check on the left side
  // just quickly for now 
  &.reversed {
    position: relative;
    min-height: 30px;
    height: 30px;
    &> input[type=checkbox] {
      position: absolute;
      left: 0px;
      top: 3px;
    }
    &> label {
      width: auto;
      padding-left: 20px;
      vertical-align: middle;
    }
  }



}

form {
  h3 {
    margin-top: 40px;
  }
}

summary.form-row{
  padding-left: 160px;
}

.all-inline input.button { margin-left: 15px; }

.edit-person {
  details {
    margin-top: 10px;
    margin-bottom: 10px;
    summary {
      margin-left: 160px;
    }
  }
}

.panel-default details { margin-top: 10px; }

.address-editor .form-group {
  &> div {
    padding:4px 10px;
  }

  h4 {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 0;
  }

  margin: 10px 0;
}

.panel-default.cols {
  * {
    font-size: 19px;
  }
  h4 {
    margin-top: 0;
    float: left;
    width: 170px;
    margin-right: 20px;
  }

  fieldset {
    padding-left: 190px;

    legend {
      width: 170px;
      margin-left: -190px;
      float: left;
    }
  }

  .striped-choice {
    max-width: 480px;
  }
}

.striped-choice {
  position: relative;

  div {
    @include striped-choice;
  }
}

textarea {
  width: 100%;
}

.buttons {
  .float {
    margin-left: 4em;
  }
}

.supplementary {
  color: $grey-1;
}

button.post-link {
  background:none !important;
  border:none; 
  padding:0 !important;
  color:#2E3191;
  cursor:pointer;
  text-decoration: underline;

  &:hover { color: #2e8aca; }
}

form .formalise {
  margin-top:10px;
  margin-left:160px;
  display:block;
}


// specific

form.add-additional-person {
  margin-top: 21px;
  margin-bottom: 20px;
}

.edit-person {
  margin-top: 20px;
  margin-bottom: 20px;
  .postcode { display: inline-block;  width: 7.5em; }
  a.find-uk-address { display: inline-block; margin-left: 20px; }

  .btn-danger { margin-left: 21em; }
}

// .js-enabled {
//   .address { display: none; }
//   .address.valid { display: block; }
// }


.person .filler {
  height: 20px;
  display:block;
}

.person.particulars { background-color: #d7edeb; border-color: #b5d5d0; }

#statement-of-truth {
  form.edit_claim {
    margin-top: 30px; 
  }

  h2 {
    margin: 50px 0 10px 0;
  }
  h4 {
    font-weight: bold; margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .particulars span {
    display: block;
  }
}

.payment-details-wrap{
  border-bottom: 1px solid $default-panel-border-color;
  margin-bottom: 10px;
  .payment-details{
    padding: 10px 40px 20px 40px;
  }
}

#card-security-code{
  display: inline-block;
  width: 130px;
}

.claim_signature {
  margin-top:40px;
  margin-bottom:40px;
  
  input {
    margin-left: 0px;
    margin-top: -45px;
    float: left;
  }
  label {
    width: auto;
    font-weight: bold;
    padding-left: 20px;
    vertical-align: middle;
  }
  
}
.warning span {
  font-family: validators;
  color: red;
  float: left;
  font-size: 27px;
  margin-right: 20px;
  margin-top: 5px;
}
