/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        
        article {
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
        }
        body.alpha #wrapper {
            border: none;
        }
        .header-proposition {
            display: none;
        }
        #user-nav .dropdown {
            display: none;
        }
        #wrapper { 
            width: 280px;
            margin: 0 20px;

            header h1 {
                margin: 0;
            }
        }
        .form-row input[type="text"], .form-row input[type="tel"], .form-row input[type="email"], .form-row input[type="currency"], .form-row select {
            width: 264px;
        }
        input[type="text"], input[type="search"] {
            font-size: 16px;
            min-width: 0;
        }
        footer {
            display: none;
        }

        /* Page 1 specific */
        #start-continue-claim {
            padding-bottom: 0;
        }

        /* Page 2 specific */
        nav.primary {
            display: none;
        }
        .moj-panel {
            padding: 0;
        }
        .claim_claimants_full_name, .claim_defendants_full_name {
            margin-top: 1em;
        }
        .edit-person details summary {
            margin: 1em 0;
        }
        .form-row label {
            width: 180px;
        }
        .form-row input.postcode[type="text"], .form-row input.postcode[type="tel"], .form-row input.postcode[type="email"], .form-row input.postcode[type="currency"], .form-row select.postcode {
            width: 5.5em;
        }
        form .enter-address-manually {
            margin: 1em 0;
        }
        .property_details .moj-panel {
            margin-top: 20px;
        }
        .property_details .address-container, .property_details .tenant_type {
            display:none;
        }
        .property_details .property_type h4 {
            margin-top: 1em;
        }
        .button-panel .big.button {
            margin-bottom: 1.5em;
        }

        main p {

            &.lead {
                max-width: 100%;
                margin-bottom: 1em;
            }
            &.mobile {
                display: none;
            }
        }
        .tab-content {
            margin: 0;
        }
        

        
        /* EXTENDING PATTERN LIB */

        .button.big, .button-secondary.big {
            width: 100%;
        }
     
        #new-claim-step-list {
            margin-top: 0;
        }
        
        .moj-large-steps .moj-large-step {
            margin: 0;

            > img {
                display: none;
            }

            > div {
                width: 96%;
                margin-top: 23px;
            }
        }
        .moj-large-steps .moj-large-step.number-1 {
            background: url("/assets/icon-step-1.png") no-repeat scroll 0 10px transparent;
        }
        .moj-large-step.number-1 div {
            margin-top: 13px;
        }
        

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        
    }

