/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        
        article {
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
        }
        body.alpha #wrapper {
            border: none;
        }
        .header-proposition {
            display: none;
        }
        #user-nav .dropdown {
            display: none;
        }
        #wrapper { 
            min-width: 280px;
            margin: 0 20px;

            header h1 {
                margin: 0;
            }
        }
        .form-row input[type="text"], .form-row input[type="tel"], .form-row input[type="email"], .form-row input[type="currency"], .form-row select {
            width: 82%;
            margin-left: 20px;
        }
        input[type="text"], input[type="search"] {
            font-size: 16px;
            min-width: 0;
        }
        footer {
            display: none;
        }

        /* Page 1 specific */
        #start-continue-claim {
            padding-bottom: 0;
        }

        /* Page 2 specific */
        nav.primary {
            display: none;
        }
        .moj-panel {
            padding: 0 40px 0 0;
            margin: 0 0 0 -20px;
            width: 100%;
        }
        .button-secondary {
            margin-top: 1em;
        }
        .claim_claimants_full_name, .claim_defendants_full_name {
            margin-top: 1em;
        }
        .edit-person details summary {
            margin: 1em 0 1em 20px;
        }
        .form-row label {
            width: auto;
            display: block;
            margin: 0 20px;
        }
        .form-row input.postcode[type="text"], .form-row input.postcode[type="tel"], .form-row input.postcode[type="email"], .form-row input.postcode[type="currency"], .form-row select.postcode {
            width: 5.5em;
        }
        form .enter-address-manually {
            margin: 1em 20px;
        }
        .property_details .moj-panel {
            margin-top: 20px;
        }
        .property_details .address-container, .property_details .tenant_type {
            display:none;
        }
        .property_details .property_type {
            h4 {
                margin: 0 20px;
                margin-top: 1em;
            }
            div {
                margin: 0 20px;
            }
        }
        .button-panel .big.button {
            margin-bottom: 0.5em;
        }

        main p {

            &.lead {
                max-width: 100%;
                margin-bottom: 1em;
            }
            &.mobile {
                display: none;
            }
        }
        .tab-content {
            margin: 0;
        }
        
        /* Step 3 specific */

        .court-hearing-details-time {
            margin: 2em -20px;
        }
        .court-badge {
            margin: 0 20px;
            .court-address {
                width: 100%;
            }
        }
        .court-badge .court-map {
            width: 100%;
            margin-bottom: 1em;
            img {
                margin-bottom: 1em;
            }
        }

        /* Step 4 specific */

        #statement-of-truth .person {
            background-image: none;
            padding: 10px 20px;
            margin-left: -20px;
            width: 100%;
        }
        #statement-of-truth .particulars-vertical h4, #statement-of-truth .particulars-vertical span {
            margin-left: 20px;
            margin-right: 20px;
        }
        .claim-signature label {
            margin: 0;
        }

        /* Step 5 specific */

        #claim-fee {
            margin: 20px 0 20px -20px;
            padding: 20px 40px 20px 0;
            display: block;
            width: 100%;
        }
        .panel-default {
            margin-left: -20px;
            padding: 20px;
            display: block;
            width: 100%;
        }
        .payment-details-wrap {
            padding-bottom: 20px;
            margin-bottom: 20px;

            .payment-details {
                padding: 0;

                .labeled-content {
                    .content-label, .content-block {
                        display: block;
                        width: 100%;

                        .fake-link {
                            margin-left: 20px;
                        }
                    }
                    #card-number {
                        width: 270px;
                    }
                }
            }
        }
        #fees {
            .panel-info {
                margin-top: 0;
            }
            .striped-choice .ts-and-cs {
                margin-bottom: 35px;
                label {
                    padding-top: 6px;
                }
            }
        }

        
        /* EXTENDING PATTERN LIB */

        .button.big, .button-secondary.big {
            width: 100%;
            margin-right: 0;
        }
     
        #new-claim-step-list {
            margin-top: 0;
        }
        
        .moj-large-steps .moj-large-step {
            margin: 0;

            > img {
                display: none;
            }

            > div {
                width: 96%;
                margin-top: 23px;
            }
        }
        .moj-large-steps .moj-large-step.number-1 {
            background: url("/assets/icon-step-1.png") no-repeat scroll 0 10px transparent;
        }
        .moj-large-step.number-1 div {
            margin-top: 13px;
        }
        

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        
    }

