$default-panel-background-color: #F8F8F8;
$default-panel-border-color: #c2c2c2;

$info-background: #D2E8F2;
$link-color-hover: #1D97FF;

$selected-item-background-color: #D5E9F4;

$button-border-radius: 4px;
$button-primary-color: #01A75F;
$button-secondary-color: $grey-3;
$button-warning-color: $red;

$labeled-content-label-width: 25%;
$labeled-content-block-width: 40%;
