// Place all the styles related to the Claim controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// GOV.UK Toolkit
@import "_colours";
@import "_typography";
@import "design-patterns/_buttons.scss";

$default-panel-background-color: #F8F8F8;
$default-panel-border-color: #c2c2c2;

$info-background: #D2E8F2;
$link-color-hover: #1D97FF;

$selected-item-background-color: #D5E9F4;

$button-border-radius: 4px;
$button-primary-color: #01A75F;
$button-secondary-color: $grey-3;
$button-warning-color: $red;

$labeled-content-label-width: 25%;
$labeled-content-block-width: 40%;

@mixin link-style {
  color: #2E3191;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $link-color-hover;
  }
  &:focus {
    outline: none;
  }
}

@mixin panel-style($background-color: $default-panel-background-color, $border-color: $default-panel-border-color) {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  label {
    font-weight: normal;
  }
}


a.toggle-hidden:before {
  border-left-color: #333333;
  border-right-color: #333333;
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 4px;
  vertical-align: middle;
  border-left: 4px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: "";
}

a.toggle-visible:before {
  border-top-color: #333333;
  border-bottom-color: #333333;
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 4px;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.inline-help p.collapse { margin-top: 8px; }


main { padding-top: 12px; }

div.user-data { 
  border-bottom: 1px solid #ccc;
  max-width: 960px;
  padding: 0 30px;
  background-color: #fff;
  margin: 0 auto;
  > ul.nav { 
    float: right; 
    > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  } 
}

#main-content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  padding: 0 30px;

  .row {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.indent { text-indent: 10px;}

.navbar {
  ul {
    padding: 0;
    margin: 10px 0;
  }

  li {
    display: inline;

    a {
      padding: 0 10px;
      text-decoration: underline;

      &:hover {
        color: #333;
        text-decoration: none;
      }
    }

    &.dropdown {
      a {
        .caret {
          border-bottom-color: #777777;
          border-top: 4px solid #777777;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          content: "";
          display: inline-block;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          width: 0;
        }
      }
    }

    ul {
      display: none;
    }

    &.open {
      a {
        color: #555;
        background-color: #d5d5d5;
      }
      ul {
        background-clip: padding-box;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
        display: block;
        list-style: none outside none;
        margin: 10px 0 0 0;
        min-width: 160px;
        padding: 5px 0;
        position: absolute;
        z-index: 1000;

        li {
          display: block;

          a {
            background-color: transparent;
            color: #777;
            padding: 3px 10px;
            display: block;
            text-decoration: none;
            color: $black;

            &:hover {
              background-color: #d5d5d5;
            }
          }

          &.divider {
            border-top: 1px solid #eee;
            margin: 5px 0 10px;

          }
        }
      }
    }
  }

  a {
    color: #777;
  }
}

.nav-tabs {
  list-style-type: none;
  margin: 0;

  li {
    margin-bottom: -1px;

    a {
      // border-radius: 4px 4px 0 0;
      margin-bottom: 0;
      text-decoration: none;
    }

    &.active {
      a {
        border-color: #ddd #ddd transparent;
      }
    }
  }
}

nav#secondary {
  padding: 0px 30px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  ol {
    list-style: decimal inside none;
    margin: 0px 0px -2px 0px;
    counter-reset: pos;
    li {
      display: inline-block;
      margin-left:-4px;
      a {
        font-size:16px;
        color: #555;
        border-bottom: 2px solid #ccc;
        padding: 0px 8px 10px 12px;
        display: block;
        &:before {
          counter-increment: pos;
          content: counter(pos) ".";
          float: left;
          margin-left: -2px;
        }
        &:hover { 
          text-decoration: none;
          cursor: default;
        }
        &.active {
          border-bottom: 2px solid #7fb299;
          font-weight: bold;
        }
        &.active:before {
          font-weight: bold;
        }
      }
    }
  }
}

#edit-claim form {
  input {
    display:inline-block;
    box-shadow: none;
  }
  input:focus:invalid {
    color: #555555;
    border-color: #73b9ef;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(115, 185, 239, 0.3);
  }
  input:focus {
    border-color: #73b9ef;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(115, 185, 239, 0.3);
  }
  input.tabbed-out:invalid {
    color: red;
    border-color: red;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 0, 0, 0.3);
  }
  input.tabbed-out:valid + span.icon-container:after {
    content: 'y';
    color: green;
  }
  input.tabbed-out:invalid + span.icon-container:after {
    content: 'n';
    color: red;
  }
  input + span.icon-container:after {
    font-family: 'validators';
    top:3px;
    left:-27px;
    position:relative;
  }
}

#user-nav a.current_role { font-weight: bold;}

#claim-nav li a.active { background-color: #cccccc; }

#claim-nav.navbar li {
  width: 120px;
}

.address span {
  float:left;
  clear:left;
}

.toggle-editor { float:left; clear:left; }

#new li a {
  display:block;
}

.form-horizontal {
  .controls { margin-left: 160px; }
  .control-label { text-align: left; float: left; }
  .control-group { margin-bottom:10px; }
}

.edit-person, .address-container {
  margin-top: 20px;
  margin-bottom: 20px;
  input[type=text], input[type=tel], input[type=email], select { 
    width: 20em;
    min-height: 30px;
    height: 30px;
    padding-top:4px;
    padding-bottom:4px;

    &.title  {
      width: 6em;   
    }
  }

  .btn-danger { margin-left: 21em; }
}

.address-container {
  .address_postcode {
    display: inline-block;
    .postcode { display: inline-block;  width: 7.5em; }
  }
  a.find-uk-address { display: inline-block; margin-left: 10px; }
  
  .inline-help {
    margin-bottom: 5px;
    a.toggle-help  { font-size: 80%; margin-left: 160px; }
  }

  .manual-address, .copy-address {
    display: inline-block;
    margin-left: 10em;
    margin-bottom: 10px;
  }

  .manual-address {
    width: 100%;
  }

  .button-group {
    margin:20px 0;
  }

}

div.striped {
  background-color: #d9edf7;
}

h2.center { text-align: center; }

.address-linear {
  span:after { content: ",  "; }
  span:last-child:after { content: ""; }
}

input.special { float:left; margin-right: 5px; }
input.break { clear:left; }

#claims-list li { list-style-type: none; margin-bottom: 20px;}
#claims-list .claim_id { float:left; width: 200px; }
#claims-list span.title { float:left; font-weight: bold; text-decoration: underline; }
#claims-list span.content { float:left; clear:left; }
#claims-list .participants { float:left; width: 300px; }
#claims-list .controls span { display:inline-block; padding: 3px 5px; margin-top: 8px; }

.radios {
  label { float:left; margin: 0 50px 0 20px; }
  input { float:left; }
}

iframe { border: none; }

.person, .address-editor {
  padding-left: 6em;
  .name { font-weight: bold; }
  margin-bottom: -1px;
}

.person .filler { height: 20px; display:block; }

.person.particulars { background-color: #d7edeb; border-color: #b5d5d0; }
#statement-of-truth h2 { margin: 50px 0 10px 0; }
#statement-of-truth h4 { font-weight: bold; margin-top: 20px;}
#statement-of-truth h4:first-child { margin-top: 0px; }
#statement-of-truth .particulars span {
  display:block;
}
#statement-of-truth form.edit_claim { 
  margin-top: 30px; 
  .claim_signature {
    margin-top:40px;
    margin-bottom:40px;
  }
  .warning span {
    font-family: validators;
    color: red;
    float: left;
    font-size: 27px;
    margin-right: 20px;
    margin-top: 5px;
  }
}

.address-editor .form-group {
  &> div {
    padding:4px 10px;
  }

  h4 {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 0;
  }

  margin: 10px 0;
}

.striped-radios div {

  position: relative;
  z-index: 0;

  input {
    display: block;
    height: 2em;
    margin-top: 0px;
  }

  input[type="radio"]:checked + label {
    background-color: #d9edf7;
  }

  label {
    position: absolute;

    padding-top: 9px;
    padding-left: 34px;

    z-index: -1;
    
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
}

.expanda {
  max-height: 0px;
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

.expando {
  max-height: 1000px;
}

form.add-additional-person {
  margin-top: 21px;
  margin-bottom: 20px;
}

.claimant, .defendant, .address-for-possession, .particulars {
  background-repeat: no-repeat;
  background-position: 18px 20px;
  background-size: 63px 68px;
  border-width: 1px 0;
  border-style: solid;
}

.claimant {
  background-color: #d5edea;
  background-image: image-url('claimant.png');
  border-color: #bddcd6;
}

.defendant {
  background-color: #fde4d6;
  background-image: image-url('defendant.png');
  border-color: #f49365;
  background-size: 52px 68px;
  background-position: 24px 20px;
}

.address-for-possession {
  background-color: #d5e8f2;
  background-image: image-url('address.png');
  border-color: #308bc4;
  background-size: 58px 63px;
  background-position: 20px 20px;

  .address-linear {
    font-weight: bold;
  }

  &> span {
    display:block;
  }
}

#edit-claim h3 { margin-top: 40px; }

.button{
  @include button($button-primary-color);
  @include border-radius($button-border-radius);
  // transition: opacity 0.8s;
}

.button-secondary{
  @include button($button-secondary-color);
  @include border-radius($button-border-radius);
}

.button-warning{
  @include button($button-warning-color);
  @include border-radius($button-border-radius);
}

details summary{
  @include link-style
}


.fake-link{
  @include link-style
}

.big{
  zoom: 150%;
}

//stolen from govuk (removed parent 'article')
.govuk-table table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em -1em 2em -1em;
  table-layout: fixed;
  width: 100%;

  caption {
    @include core-19;
    text-align: left;
    margin-bottom: 0.5em;
    padding-left: 1em;
  }
}

.govuk-table th, .govuk-table td {
  vertical-align: top;
  line-height: 1.3em;
  padding: 0.7em 0.5em 0.7em 1em;
  width: 200px;
  
  .arrears-cols-button{
    width: 100px;

  }
}

.govuk-table tr:nth-child(even) td {
  background-color: #fff;
}

.govuk-table {
  td {
    background: #eaedef;
    border: dotted 1px #bbb;
    text-align: right;
    small {
      @include core-16;
    }
  }
  .arrears-duedate, #rent-date-header, .arrears-cols-button {
    text-align: center;
  }

}

.govuk-table th , .govuk-table .table-footer{
  line-height: 1.25em;
  text-align: right;
  color: #000;
  font-weight: bold;
  background-color: #e1e8e8;
  border: solid 1px #bbb;
  #rent-date-header{
    text-align: center;
  }
}

.govuk-table .table-footer {
  td{
    border: none;
    background-color: #D5EEEA;
  }

  #arrears-total-label{
    text-align: left;
  }
}

.panel-default{
  @include panel-style;
  padding: 20px 90px 20px 90px;
  margin: 10px 0px 10px 0px;
}

.panel-error{
  @include panel-style(#F2DEDE,#EED3D7);
  padding: 5px 5px 5px 5px;
  color: #BB4A48;
  text-align: center;
}

.panel-info {
  background-color: #dfe0e2;
  padding: 15px 15px 15px 15px;
  margin: 15px 0px 15px 0px;
}

.striped-choice {
  // margin-bottom: 10px;
  position: relative;
  
  div {
    position: relative;
    z-index: 0;

    input[type="radio"], input[type="checkbox"]{
      display: block-inline;
      height: 2.0em;
      margin-left: 10px;
    }

    input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
      background-color: $selected-item-background-color;
    }

    label {
      position: absolute;

      padding-top: 8px;
      padding-left: 35px;
      cursor: pointer;

      font-weight: normal;

      z-index: -1;
      
      top:0px;
      left:0;
      right:0;
      bottom:0;
    }
  }
}

article {
  padding-left: 30px;
  padding-right: 30px;
}


.all-inline, .date-day, .date-month, .date-year {
  * { display: inline-block; }
}



.default-box-width{
  width: 225px;
}

.labeled-content {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  
  .content-label {
    vertical-align: top;
    display: inline-block;
    width: $labeled-content-label-width;
  }

  .content {
    display: inline-block;
    
    .money-input {
      * { display: inline-block }
      input{
        display: inline-block;
        width: 100 + $labeled-content-block-width;
      }
    }
  }

  .content-block {
    display: inline-block;
    width: $labeled-content-block-width;
  }

}

.moj-panel {
  background-color: #f8f8f8;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c8c8c8;
  padding:30px 20px 30px 100px;
}


h2.info-notice {
  margin: 40px 0;
}

.court-badge>div { float:left; }
.court-badge .court-address { width:60%; padding:0 20px 0 0; }
.court-badge .court-map { width:40%; padding-top: 27px; }
.court-badge .court-map img { display: block; }
.court-badge h3 { border-bottom:1px solid #c8c8c8; margin-bottom: 10px;}
.court-badge .court-address span { display: block; }
.court-badge .court-address h4 { font-weight: bold; }
.court-badge .court-address span.dx { margin:20px 0; }

.save-close-panel {
  margin: 30px 0px 10px;
}

#attachments-section {
  margin-top: 25px;
  ul{
    margin-top: 20px;
    margin-left: 0px;
    list-style-type: none;
  }
}

#arrears-add-item{
  display: block-inline;
  float: rigth;
  margin-left: 100px;

}

#arrears-table{
  margin-top: 25px;
}

#unpaid-rent-calculation{
  border-top: none;
  margin-top: -10px;
}

#about-rental-arrears{
  margin-top: 15px;
}

#claim-fee{
  display: block;
  padding: 10px 0px 10px 0;
  margin: 20px 0px 20px 0px;
  background-color: #1fa398;
  color: #fff;
  text-align: center;
  h1 {
    zoom: 120%;
    font-weight: bold;
  }
}

.payment-details-wrap{
  border-bottom: 1px solid $default-panel-border-color;
  margin-bottom: 10px;
  .payment-details{
    padding: 10px 40px 20px 40px;
  }
}

#card-security-code{
  display: inline-block;
  width: 130px;
}

#reference-number{
  zoom: 130%;
}

#confirmation-view-print-buttons{
  margin: 10px 0px 30px 0px;
  #confirmation-print-receipt{
    margin-left: 40px;
  }
}

.court-hearing-details-time{
  @include panel-style;
  padding: 25px 90px 25px 90px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  zoom: 125%;
}

#what-next{
  margin-top: 25px;
  margin-bottom: 10px;
}

.blue-line{
  display: block;
  height: 10px;
  background-color: #238cc6;
}

.content-wrap{
  padding: 0 30px 0 30px;
}

#start-continue-claim{
  margin-top: 50px;
}


a.disabled {
  opacity: 0.5;
  &:hover { text-decoration: none; cursor: default; }
}

#start-new-claim-buttons {
  margin-top: 10px;
  margin-bottom: 30px;
}

.tab-content{
  margin-bottom: 30px;

  .tab-pane {
    border-color: #ddd;
    display: none;

    &.active {
      display: block;
    }
  }
}

#start-continue-claim-disclaimer{
  padding-top: 20px;
  border-top: 1px solid $default-panel-border-color;
  div {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

#claims-list{
  .claim-item {
    @extend .panel-default;
    margin-top: 25px;
    margin-bottom: 40px;
    
    .content-label{
      font-weight: bold;
    }
    
    #claim-item-action-buttons{
      margin: 25px 0px 10px 0px;
    }
    #claims-item-status-label{
      @extend details;
    }
  }
}

#claims-item-status {
  position: relative;
  summary{
    text-decoration: none;
    display: inline-block;
    #claims-item-status-label{
      display: inline;
      text-decoration: underline;
    }
    #claims-item-status-header{
      margin-left: 105px;
      text-decoration: none;
      color: #000;
      &:hover{
        color: #000;
      }
    }
  }

  #claims-item-status-content{
    position: relative;
    margin-left: 150px;
    margin-top: 15px;

// hey hey refactor this span
    #claims-item-status-content-list{
      
      span {
        position: inline;
        margin-right: 10px;

        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        
        background-color: #01A75F;
        border-radius: 9999px;
      }

      .claims-item-status-item-yes span { padding: 4px 6px; }
      .claims-item-status-item-no span { 
        background-color: $grey-3;
        padding: 4px 11px; 
      }

    }
  }
}

.panel-file-upload{
  @include panel-style(#D5EEEA);

  padding: 15px 5px 15px 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  a{
    margin-left: 5px;
  }

  input {
    float: right;
    margin-right:5px;
  }
}

