// Place all the styles related to the Claim controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body { padding-top: 110px; }

main { padding-top: 12px; }

header {
  h2 {
    float:left; 
    margin-top:0px;
    a:hover { text-decoration: none; }
  }
  section.user-data { 
    position: absolute; 
    bottom:0px; 
    right:0px; 
    ul {
      float:right;
      li {
        float:left;
        list-style-type: none;
      }
    }
  }
}

.navbar li {
  width: 120px;
}

.address span {
  float:left;
  clear:left;
}

#new li a {
  display:block;
}

.form-horizontal .control-group {
  margin-bottom:10px;
}

h2.center { text-align: center; }

.form-horizontal .controls { margin-left: 160px; }
.form-horizontal .control-label { text-align: left; }

.claimant_postcode { float:left; }
.claimant_postcode .controls { margin-left: 0; float: left; }
.claimant_postcode input { width: 6em; }
.address-lookup { float:left; margin:2px 10px; }
.person input.special { float:left; margin-right: 5px; }
.person input.break { clear:left; }

#claims-list li { list-style-type: none; margin-bottom: 20px;}
#claims-list .claim_id { float:left; width: 200px; }
#claims-list span.title { float:left; font-weight: bold; text-decoration: underline; }
#claims-list span.content { float:left; clear:left; }
#claims-list .participants { float:left; width: 300px; }
#claims-list .controls span { display:inline-block; padding: 3px 5px; background-color: #cccccc; margin-top: 8px; }