@mixin link-style {
  color: #2E3191;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $link-color-hover;
  }
  &:focus {
    outline: none;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: " "; 
    display: table;
  }

  &:after {
    clear: both;
  }

  *zoom: 1;
}


@mixin panel-style($background-color: $default-panel-background-color, $border-color: $default-panel-border-color) {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  label {
    font-weight: normal;
  }
}

@mixin well-style {
  padding: 19px;
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  @include border-radius(4px);
}

@mixin striped-choice{
  position: relative;
  z-index: 0;
  max-width: 670px;
  input[type="radio"], input[type="checkbox"]{
    display: block-inline;
    height: 2.0em;
    margin-left: 10px;
  }
  input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
    background-color: $selected-item-background-color;
  }
  label {
    position: absolute;
    padding-top: 8px;
    padding-left: 35px;
    cursor: pointer;
    font-weight: normal;
    z-index: -1;
    top:0px;
    left:0;
    right:0;
    bottom:0;
  }
}

@mixin reset-list{
  list-style-type: none;
  list-style-image: none;
  list-style-position: inside;
}

