@mixin link-style {
  color: #2E3191;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $link-color-hover;
  }
  &:focus {
    outline: none;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: " "; 
    display: table;
  }

  &:after {
    clear: both;
  }

  *zoom: 1;
}


@mixin panel-style($background-color: $default-panel-background-color, $border-color: $default-panel-border-color) {
  background-color: $background-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  label {
    font-weight: normal;
  }
}

@mixin well-style {
  padding: 19px;
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  @include border-radius(4px);
}
