// Place all the styles related to the Claim controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// GOV.UK Toolkit
@import "_colours";
@import "_typography";

body { padding-top: 110px; }

main { padding-top: 12px; }

header {
  img { max-width: none; } // bootstrap override to work with header+footer gov.uk css
  a#proposition-name { float: right; }
}

div.user-data { 
  border-bottom: 1px solid #ccc;
  max-width: 940px;
  background-color: #fff;
  margin: 0 auto;
  > ul.nav { 
    float: right; 
    > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  } 
}

#main-content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  padding: 0 2em;

  .row {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.indent { text-indent: 10px;}


.alpha #phase-notice p {
  padding: 0.5em 2em;
  max-width: 940px;
  margin: 0 auto;
  font-size: 1.6rem;
  background: #d53880;
  color: #fff;
}

.alpha #proposition-name small {
  vertical-align: 3px;
  margin-left: 10px;
  padding: 3px 5px 1px;
  background-color: #d53880;
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}

#user-nav a.current_role { font-weight: bold;}

#claim-nav li a.active { background-color: #cccccc; }

#claim-nav.navbar li {
  width: 120px;
}

.address span {
  float:left;
  clear:left;
}

.toggle-editor { float:left; clear:left; }

#new li a {
  display:block;
}

.form-horizontal .control-group {
  margin-bottom:10px;
}

h2.center { text-align: center; }

.form-horizontal .controls { margin-left: 160px; }
.form-horizontal .control-label { text-align: left; }

.claimant_postcode { float:left; }
.claimant_postcode .controls { margin-left: 0; float: left; }
.claimant_postcode input { width: 6em; }
.address-lookup { float:left; margin:2px 10px; }

.address-linear {
  span:after { content: ",  "; }
  span:last-child:after { content: ""; }
}

input.special { float:left; margin-right: 5px; }
input.break { clear:left; }

#claims-list li { list-style-type: none; margin-bottom: 20px;}
#claims-list .claim_id { float:left; width: 200px; }
#claims-list span.title { float:left; font-weight: bold; text-decoration: underline; }
#claims-list span.content { float:left; clear:left; }
#claims-list .participants { float:left; width: 300px; }
#claims-list .controls span { display:inline-block; padding: 3px 5px; background-color: #cccccc; margin-top: 8px; }

.radios {
  label { float:left; margin: 0 50px 0 20px; }
  input { float:left; }
}

iframe { border: none; }