// GOV.UK Toolkit
@import "_colours";
@import "_typography";
@import "_css3";
@import "design-patterns/_buttons.scss";
@import "claims-vars";
@import "claims-mixins";


a.toggle-hidden:before {
  border-left-color: #333333;
  border-right-color: #333333;
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 4px;
  vertical-align: middle;
  border-left: 4px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: "";
}

a.toggle-visible:before {
  border-top-color: #333333;
  border-bottom-color: #333333;
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 4px;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.inline-help p.collapse { margin-top: 8px; }

main { padding-top: 12px; }

.indent {
  text-indent: 10px;
}

.button{
  @include button($button-primary-color);
  @include border-radius($button-border-radius);
  // transition: opacity 0.8s;
}

.button-secondary{
  @include button($button-secondary-color);
  @include border-radius($button-border-radius);
}

.button-warning{
  @include button($button-warning-color);
  @include border-radius($button-border-radius);
}

details summary{
  @include link-style
}

article li {
  font-size: inherit;
  li {
    font-size: inherit;
  }
}


.well {
  @include well-style;
}

article .address {
  background: none;
  margin: 0;
  padding: 0;
  min-width: 0;
  &.well {
    @include well-style;
  }
}

a.disabled {
  opacity: 0.5;
  &:hover { text-decoration: none; cursor: default; }
}

.fake-link{
  @include link-style
}

.big {
  zoom: 150%;
}


.labeled-content {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  
  .content-label {
    vertical-align: top;
    display: inline-block;
    width: $labeled-content-label-width;
  }

  .content {
    display: inline-block;
    
    .money-input {
      * {
        display: inline-block;
      }
      input {
        display: inline-block;
        width: 100 + $labeled-content-block-width;
        &.small {
          width: auto;
        }
      }
      .clear {
        display: block;
      }
      .help-text {
        vertical-align: top;
        @include core-14;
        font-size: 12px;
        color: $grey-1;
        padding-left: 15px;
      }
    }
  }

  .content-block {
    display: inline-block;
    width: $labeled-content-block-width;
  }
}

#claims-list .claim-item .content-label {
  font-weight: bold;
}


#proposition-name { float:right; }
.attachments h4 span.right { margin-top: -6px; }


