main {
  max-width: 1020px;
  margin: auto;

  > * {
    max-width: 960px;
    margin: auto;
  }

  p.lead {
    margin-bottom: 2em;
    font-size: 24px;
  }
}

article {
  > p {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  > h2 {
    font-size: 32px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
  > h3 {
    margin-top: 30px;
    font-weight: normal;
  }
  section {
    max-width: 850px;
    margin: auto;
    padding-bottom: 40px;

    > h3 {
      margin-top: 0;
      margin-bottom: 0px;
      font-weight: normal;
      font-size: 24px;
    }
  }
  p { font-size: inherit; }
}


