.button, .button:visited {
  background-color: #DCDCDC;
  box-shadow: 0 3px 0 #959595;
  color: #2E2E2E;

  margin-right: 8px;

  h4 & {
    font-weight: normal;
  }

  &.right {
    margin-right: 0;
  }

  &.primary {
    background-color: #00a75e;
    box-shadow: 0 3px 0 #000000;
    color: #FFFFFF;
  }

  &:hover {
    background-color: #7fb299;
    color: #fff;
  }

  &.button-warning, &.button-warning:visited {
    background-color: #B10E1E;
    color: #fff;
    box-shadow: 0 2px 0 #6A0812;
    &:hover {
      background-color: #990C1A;
    }
  }
}

.js-tabs {
  > ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    border-bottom: 1px solid #bfc1c3;

    li {
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      background-color: #dee0e2;
      margin: 3px;
      vertical-align: bottom;

      &:first-child {
        margin-left: 0;
      }

      a {
        color: #2d2e93;
        text-decoration: none;
        padding: 4px 40px;
      }

      &.is-active {
        border: 1px solid #bfc1c3;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
        padding-top: 5px;
        background-color: transparent;

        a {
          padding: 2px 40px 6px;
        }
      }
    }
  }
  .tab {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

header.case {
  margin-top: 30px;

  ul {
    clear: both;
    margin: 30px 0 0;
    list-style-type: none;
    list-style-image: none;
    padding: 0;

    .status {
      float: left;
    }
    .action {
      float: right;
      text-align: right;
    }
  }

  .hearingDate {
    padding: 25px 50px;
    margin: 0 0 20px;
    background-color: #d5e8f3;
    border-top: 1px solid #96c6e2;
    border-bottom: 1px solid #96c6e2;

    h3 {
      font-size: 32px;
      text-align: center;
    }
  }

  .full-history {
    display: none;
    background: transparent;
    margin: 0;
    padding: 0;

    ul {
      list-style-type: none;
      list-style-image: none;

      li {
        list-style-image: image-url('calendar/note.png');
        line-height: 2;
        margin: 0 1em 0 2em;
        
        span {
          float: right;
        }
      }
    }
  }
}

a.toggle-history {
  padding-left: 21px;
  background: image-url('calendar/arrow-closed.gif') left center no-repeat;
  display: block;

  &.open {
    background-image: image-url('calendar/arrow-open.gif');
    color: #2788cc;
  }
}


