.new-expense
  %h5 New expense
  .form-row
    %label Name:
    %input{name: 'new_expense_name', placeholder: 'eg Housekeeping'}
    %button{type:'submit', value:'submit_new_expense', name: 'commit'}
      %span Add
