%header.page-header.group.case
  %h2
    %strong Case number
    = params[:claim_id]

  %ul.cf
    %li.status
      %br/
      %strong Status
      hearing scheduled
    %li.action
      %a{:href => '#'} Reschedule
      %br/
      %a.toggle-history{:href => '#'} View all case history

  .hearingDate
    %h3
      %strong Wednesday 21 August 2013
      at
      %strong 10:30am
    .full-history
      %ul
        %li
          Tenant viewed claim and submitted defence
          %span 12 July 2013
        %li
          Claimant added
          %a{:href => '#'}
            updated-rental-arrears.pdf
          %span 10 July 2013
        %li
          Viewed by court admin staff at Lambeth County Court
          %span 2 July 2013
        %li
          Claim submitted by John Smith Reynolds
          %span 30 June 2013

.js-tabs
  %ul.js-tabs-nav
    %li
      %a{:href => '#casetab'} Case
    %li
      %a{:href => '#defencetab'} Defence

  .js-tabs-content
    
    %article.tab#casetab

      %section
        %h2 Landlord
        .person.claimant
          %span.name John Smith Reynolds
          .address-linear
            %span 121 Elm Park Road
            %span London
            %span SW1 1SZ
            %span UK
          %div 02072471201
          %div 07973542443
          %div john_reynolds@btinternet.com

      %section
        %h2 Tenant
        .person.defendant
          %span.name Louis Robert Stevenson
          .address-linear
            %span Flat 3
            %span 92 Crystal Palace Park Road
            %span London
            %span SE26 6UP
            %span UK
          %div 02081236789
          %div 07765912673
          %div lrstevenson@hotmail.co.uk

      %section
        %h2 Property
        .person.address-for-possession
          .address-linear
            %span Flat 3
            %span 92 Crystal Palace Park Road
            %span London
            %span SE26 6UP
            %span UK
          %div Residential
          %div Tenant

      %section
        %h2 Case details
        .moj-panel.particulars-horizontal
          %h4 Why do you want the property back
          %span Non-payment of rent
          %h4 Notices given
          %span Notice to quit served 11 June 2013
          %h4 Next stages
          %span Reclaim unpaid rent
          %h4 Tenancy type
          %span Assured shorthold tenancy
          %h4 Tenancy start date
          %span 10 September 2010
          %h4 Rental amount
          %span
            &pound;950 per month
            %br/
            &pound;32 per day
          %h4 Claim cost
          %span &pound;100 (request for tenant to pay)

      %section
        %h2 Unpaid rent
        %table.moj-table
          %thead
            %tr
              %th.left-align Rent due on
              %th Rental amount
              %th Amount paid
              %th Unpaid rent
          %tbody
            %tr
              %td.left-align 10 Apr 2013
              %td.pounds 950
              %td.pounds 0
              %td.pounds 950
            %tr
              %td.left-align 10 May 2013
              %td.pounds 950
              %td.pounds 0
              %td.pounds 950
            %tr
              %td.left-align 10 Jun 2013
              %td.pounds 950
              %td.pounds 0
              %td.pounds 950
          %tfoot
            %tr
              %td.left-align{:colspan => 3} Total
              %td.pounds 2,850

      %section.attachments
        %h2 Supporting documentation
        %h4.moj-panel
          Tenancy Agreement July 2010.doc       
          %span.button.primary.right View
        %h4.moj-panel
          Crystal palace park road.pdf    
          %span.button.primary.right View



    %article.tab#defencetab
      
      %section
        %h2 Tenant
        .person.defendant
          %span.name Louis Robert Stevenson
          .address-linear
            %span Flat 3
            %span 92 Crystal Palace Park Road
            %span London
            %span SE26 6UP
            %span UK
          %div 20281236789
          %div 07765912673
          %div lrstevenson@hotmail.co.uk

      %section
        %h2 About the claim
        .moj-panel
          %ul.plain
            %li 
              I
              %strong agree
              with what is said about the property and the tenancy agreement in the
              %a{:href => '#'} Case details
              \.
            %li
              I
              %strong received
              the notice to quit from the landlord on
              %strong 11 June 2013
              \.
            %li
              I
              %strong agree
              that there are arrears of rent as stated in the
              %a{:href => '#'} Case details
              \.
            %li
              I
              %strong have not
              paid any money to my landlord since the claim was issued.
            %li
              I
              %strong have not
              come to any agreement with my landlord about the repayment of arrears.
            %li
              I
              %strong do not
              have a money or other type of claim against the landlord.

      %section
        %h2 Bank balances
        .moj-panel
          %ul.plain
            %li
              %span.item Bank account balance
              %span.value
                %strong &pound;470
            %li
              %span.item Savings account balance
              %span.value
                %strong &pound;250

      %section
        %h2 Money in
        .moj-panel
          %ul.plain
            %li
              %span.item Present circumstances
              %span.value 
                %strong Employed
            %li
              %span.item Total income
              %span.value
                %strong &pound;1850

      %section
        %h2 Money out
        .moj-panel
          %ul.plain
            %li
              %span.item Regular expenses
              %span.value &pound;375
            %li
              %span.item Loans and credit cards
              %span.value &pound;267.87
            %li
              %span.item
                %strong Total
              %span.value
                %strong &pound;642.87

      %section
        %h2 Circumstances
        .moj-panel
          %ul.plain
            %li
              If an order for repossession were to be made, I
              %strong would
              have somewhere else to live.
            %li
              I would be able to move on
              %strong 8 September 2013

    %article
      .right.buttons
        %a.button{:href => '#'} Download and print case
        %a.button{:href => '#'} Close