= render_local_navigation

%article
  %h2 Confirmation
  %p.lead Thank you for submitting your defence.
  %p.lead
    You can view full details of this defence under
    %a.fake-link the claim
    in your
    %a.fake-link account
  %p.lead#reference-number
    Your reference is:
    %strong JR6QJPSL
  .button-panel
    %button.big.button Print completed form
  %section#hearing-details
    %h2 Hearing details
    .court-hearing-details-time
      = render partial: 'claims/shared/scheduled_hearing'
    .moj-panel
      = render :partial => 'shared/lambeth_court'
  %section#what-next
    %h2#what-next-title What happens next
    %p We'll send the details of your defence to the court.
    %p
      A judge will decide on the case at the hearing on
      %strong #{(Date.today + 3.weeks).strftime("%-d %B %Y")}.
