%div
  %p.lead 

  The landlord 
  %strong= @claim.claimants.first.full_name
  is taking you to court to
  %br
  repossess your home at 
  %strong.address-linear
    = render partial: 'addresses/show', locals: { address: @claim.address_for_possession }
  
%article
  - if @defence.present?
    %ul.claims-index-tabs.nav.nav-tabs
      %li.submit
        %a.is-active-tab{"data-toggle" => "tab", :href => "#new"} What to do
      %li.active.list
        %a.is-active-tab{"data-toggle" => "tab", :href => "#list"} Your defence
  - else
    %h2 What to do next
  %section#start-continue-defence
    .tab-content
      - tab_class = @defence.present? ? 'tab-pane' : 'tab-pane active'
      #new{:class => tab_class}
        = render partial: 'claims/defence/home'
      - tab_class = @defence.present? ? 'tab-pane active' : 'tab-pane'
      #list{:class => tab_class}
        = render partial: 'claims/defence/list', locals: {claims: @user.claims}

  
