<h3>Personal details</h3>
<div class="panel-default">
	<p>Logged user id: <strong><%= @user.id %></strong></p>
	<p>Landlords count: <strong><%= @claim.claimants.length %></strong></p>
	<p>Tenants count: <strong><%= @claim.defendants.length %></strong></p>
	<p>Property</p>
</div>

<h3>Claim particulars</h3>
<div class="panel-default">
	<p>Grounds for possesion</p>
	<p>Notices</p>
	<p>Tenanacy type</p>
</div>