<h1><a href='/'>Possession Claims Online</a></h1>
<section class='user-data clearfix'>
  <ul>
    <li><%= @user.full_name %></li>
    <li><a href='#'>Account details</a></li>
    <li><a href='#'>Sign Out</a></li>
  </ul>
</section>
