- unless @hide_user_nav
  #user-nav.user-data.clearfix.navbar
    %ul.nav.navbar-nav
      %li Julia Richards:
      %li= link_to 'Cases', '/claims/demo/social_yourcases'
      %li= link_to 'Your details', '#'
      %li= link_to 'Sign out', '#'
